<?xml version="1.0" standalone="yes"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html><body><div class="square-box">&#xD;
&#xD;
Develop an application for an HR department that manages teachers and students records. Each teacher has a name, email, and unit attributes&#xC2;&#xA0;while a student has a name, fees, and school attributes. There should be a toggle button to switch between teacher and student forms.&#xD;
&#xD;
</div>&#xD;
&#xA0;&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
The output of the application will be:&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
<a href="https://www.alexandriarepository.org/media/15-9" rel="attachment wp-att-162493"><img class="size-full wp-image-162493 aligncenter" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" src="./assets/15.gif" alt="" width="883" height="712"/></a>&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
Firstly, create a new project using ng CLI named 'hrsystem'&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="null">ng new hrsystem</pre>&#xD;
&#xA0;&#xD;
&#xD;
Here is the structure of the project:&#xD;
&#xD;
<a href="https://www.alexandriarepository.org/media/supmatst" rel="attachment wp-att-162497"><img class="size-full wp-image-162497 aligncenter" src="./assets/supmatst.png" alt="" width="365" height="856"/></a>&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
Replace app.component.ts with:&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="js">import { Component } from '@angular/core';&#xD;
&#xD;
@Component({&#xD;
  selector: 'app-root',&#xD;
  templateUrl: './app.component.html',&#xD;
  styleUrls: ['./app.component.css']&#xD;
})&#xD;
export class AppComponent {&#xD;
  title = 'HR System';&#xD;
  fullName = '';&#xD;
  email = '';&#xD;
  unit = '';&#xD;
  hrDB:any = [];&#xD;
  toggleTitle = "Student"&#xD;
  fees = 0;&#xD;
  school = '';&#xD;
  isTeacher: boolean = true;&#xD;
//SaveTeacher will get exectued when the user hits the save teacher button line23@app.component.html&#xC2;&#xA0;&#xD;
  saveTeacher() {&#xD;
    this.hrDB.push({&#xD;
      id: this.getNewId(),&#xD;
      fullName: this.fullName,&#xD;
      email: this.email,&#xD;
      unit: this.unit,&#xD;
      type: 'Teacher'&#xD;
    });&#xD;
//reset the input feilds&#xD;
&#xD;
    this.fullName = '';&#xD;
    this.email = '';&#xD;
    this.unit = '';&#xD;
  }&#xD;
//SaveTeacher&#xC2;&#xA0;will&#xC2;&#xA0;get&#xC2;&#xA0;exectued&#xC2;&#xA0;when&#xC2;&#xA0;the&#xC2;&#xA0;user&#xC2;&#xA0;hits&#xC2;&#xA0;the&#xC2;&#xA0;save&#xC2;&#xA0;student button&#xC2;&#xA0;line56@app.component.html&#xC2;&#xA0;&#xC2;&#xA0;&#xD;
  saveStudent() {&#xD;
    this.hrDB.push({&#xD;
      id: this.getNewId(),&#xD;
      fullName: this.fullName,&#xD;
      fees: this.fees,&#xD;
      school: this.school,&#xD;
      type: 'Student'&#xD;
    });&#xD;
&#xD;
    this.fullName = '';&#xD;
    this.fees = 0;&#xD;
    this.school = '';&#xD;
  }&#xD;
// This button will get executed with the user clicks the toggle button line5@app.component.html&#xC2;&#xA0;&#xD;
  changeState() {&#xD;
    if (this.isTeacher) {&#xD;
      this.toggleTitle = "Teacher";&#xD;
    } else {&#xD;
      this.toggleTitle = "Student";&#xD;
    }&#xD;
    this.isTeacher = !this.isTeacher;&#xD;
&#xD;
  }&#xD;
  getNewId() {&#xD;
    return Math.floor(Math.random() * 10000);&#xD;
  }&#xD;
}&#xD;
</pre>&#xD;
&#xA0;&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
Replace app.component.html with:&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="html">&lt;div&gt;&#xD;
  &lt;h1&gt;Welcome to {{title}}&lt;/h1&gt;&#xD;
&lt;/div&gt;&#xD;
&#xD;
&lt;button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" (click)="changeState()"&gt;&#xD;
  {{toggleTitle}}&#xD;
&lt;/button&gt;&#xD;
&lt;br&gt;&#xD;
&lt;hr&gt;&#xD;
&#xD;
&lt;!-- Begin of Teacher section --&gt;&#xD;
&#xD;
&lt;div *ngIf="isTeacher" id="teacherSection"&gt;&#xD;
  &lt;label *ngIf="fullName!=''"&gt;Hi {{fullName}}&lt;/label&gt;&#xD;
  &lt;div&gt;&#xD;
    Teacher Name &lt;input name="fullName" [(ngModel)]="fullName" type="text" class="form-control" /&gt;&#xD;
  &lt;/div&gt;&#xD;
  &lt;div&gt;&#xD;
    Email &lt;input name="email" [(ngModel)]="email" type="text" class="form-control" /&gt;&#xD;
  &lt;/div&gt;&#xD;
  &lt;div&gt;&#xD;
    Unit &lt;input name="unit" [(ngModel)]="unit" type="text" class="form-control" /&gt;&#xD;
  &lt;/div&gt;&#xD;
  &lt;br&gt;&#xD;
  &lt;button (click)="saveTeacher()" class="btn btn-primary"&gt;Save Teacher&lt;/button&gt;&#xD;
&#xD;
  &lt;hr&gt;&#xD;
&#xD;
  &lt;table class="table table-striped"&gt;&#xD;
    &lt;tr&gt;&#xD;
      &lt;th&gt;ID&lt;/th&gt;&#xD;
      &lt;th&gt;Full Name&lt;/th&gt;&#xD;
      &lt;th&gt;Email&lt;/th&gt;&#xD;
      &lt;th&gt;unit&lt;/th&gt;&#xD;
    &lt;/tr&gt;&#xD;
    &lt;ng-container *ngFor="let item of hrDB;let i=index"&gt;&#xD;
      &lt;tr *ngIf="item.type=='Teacher'"&gt;&#xD;
        &lt;td&gt;{{item.id}}&lt;/td&gt;&#xD;
        &lt;td&gt;{{item.fullName}}&lt;/td&gt;&#xD;
        &lt;td&gt;{{item.email}}&lt;/td&gt;&#xD;
        &lt;td&gt;{{item.unit}}&lt;/td&gt;&#xD;
      &lt;/tr&gt;&#xD;
    &lt;/ng-container&gt;&#xD;
  &lt;/table&gt;&#xD;
&lt;/div&gt;&#xD;
&#xD;
&lt;!-- End of Teacher section --&gt;&#xD;
&#xD;
&#xD;
&#xD;
&lt;!-- Begin of Student section --&gt;&#xD;
&lt;div *ngIf="!isTeacher" id="studentSection"&gt;&#xD;
  &lt;label *ngIf="fullName!=''"&gt;Hi {{fullName}}&lt;/label&gt;&#xD;
  &lt;div&gt;&#xD;
    Student Name &lt;input name="fullName" [(ngModel)]="fullName" type="text" class="form-control" /&gt;&#xD;
  &lt;/div&gt;&#xD;
  &lt;div&gt;&#xD;
    Fees &lt;input name="fees" [(ngModel)]="fees" type="number" class="form-control" /&gt;&#xD;
  &lt;/div&gt;&#xD;
  &lt;div&gt;&#xD;
    School &lt;input name="school" [(ngModel)]="school" type="text" class="form-control" /&gt;&#xD;
  &lt;/div&gt;&#xD;
  &lt;br&gt;&#xD;
  &lt;button (click)="saveStudent()" class="btn btn-primary"&gt;Save Student&lt;/button&gt;&#xD;
&#xD;
  &lt;hr&gt;&#xD;
&#xD;
  &lt;table class="table table-striped"&gt;&#xD;
    &lt;tr&gt;&#xD;
      &lt;th&gt;ID&lt;/th&gt;&#xD;
      &lt;th&gt;Full Name&lt;/th&gt;&#xD;
      &lt;th&gt;Fees&lt;/th&gt;&#xD;
      &lt;th&gt;School&lt;/th&gt;&#xD;
    &lt;/tr&gt;&#xD;
    &lt;ng-container *ngFor="let item of hrDB;let i=index"&gt;&#xD;
      &lt;tr *ngIf="item.type=='Student'"&gt;&#xD;
        &lt;td&gt;{{item.id}}&lt;/td&gt;&#xD;
        &lt;td&gt;{{item.fullName}}&lt;/td&gt;&#xD;
        &lt;td&gt;{{item.fees}}&lt;/td&gt;&#xD;
        &lt;td&gt;{{item.school}}&lt;/td&gt;&#xD;
      &lt;/tr&gt;&#xD;
    &lt;/ng-container&gt;&#xD;
  &lt;/table&gt;&#xD;
&lt;/div&gt;&#xD;
&#xD;
&lt;!-- End of Student section --&gt;&#xD;
</pre>&#xD;
&#xA0;&#xD;
&#xD;
Replace app.component.css with:&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="css">#teacherSection,&#xD;
#studentSection {&#xD;
  padding-left: 0.5in&#xD;
}&#xD;
</pre>&#xD;
&#xA0;&#xD;
&#xD;
Add FormMoudle to app.module.ts:&#xD;
&#xD;
<a href="https://www.alexandriarepository.org/media/5-22" rel="attachment wp-att-162310"><img class="alignnone size-full wp-image-162310" src="./assets/5.gif" alt="" width="1345" height="435"/></a>&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
Install bootstrap library and add its reference to angular.css:&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
<a href="https://www.alexandriarepository.org/media/9-15" rel="attachment wp-att-162319"><img class="alignnone size-full wp-image-162319" src="./assets/9.gif" alt="" width="482" height="451"/></a>&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
run your app:&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="null">ng serve</pre>&#xD;
&#xA0;&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
&#xA0;</body></html>
