<?xml version="1.0" standalone="yes"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html><body><h1><strong>Angular II</strong></h1>&#xD;
&#xA0;&#xD;
&#xD;
Topics of this week:&#xD;
<ul><li>Angular Services</li>&#xD;
 	<li>Dependency Injection</li>&#xD;
 	<li>Create a component</li>&#xD;
 	<li>HTTP CRUD operation through Angular</li>&#xD;
 	<li>Serving Angular UI using Express</li>&#xD;
</ul>&#xD;
&#xA0;&#xD;
<h2>Angular Services</h2>&#xD;
<blockquote>A service is typically a class with a narrow, well-defined purpose. A Service is a broad category encompassing any value, function, or feature that an app needs.&#xD;
&#xD;
Angular distinguishes components from services to increase modularity and reusability. By separating a component's view-related functionality from other kinds of processing, you can make your component classes lean and efficient.&#xD;
&#xD;
A component can delegate certain tasks to services, such as fetching data from the server, validating user input, or logging directly to the console.</blockquote>&#xD;
Srouce:&#xC2;&#xA0;<a href="https://angular.io/guide/architecture-services">https://angular.io/guide/architecture-services</a>&#xD;
&#xD;
&#xA0;&#xD;
<h2>Dependency injection (DI)</h2>&#xD;
<blockquote>Dependency Injection (DI) is a software design pattern that deals with how components get hold of their dependencies. The Angular injector subsystem is in charge of creating components, resolving their dependencies, and providing them to other components as requested. DI is wired into the Angular framework and used everywhere to provide new components with the services or other things they need. Components consume services; that is, you can inject a service into a component, giving the component access to that service class.&#xD;
&#xD;
When Angular creates a new instance of a component class, it determines which services or other dependencies that component needs by looking at the constructor parameter types. For example, the constructor of <strong>ActorComponent</strong> needs <strong>HTTPService</strong>.&#xD;
&#xD;
When Angular discovers that a component depends on a service, it first checks if the injector has any existing instances of that service. If a requested service instance doesn't yet exist, the injector makes one using the registered provider, and adds it to the injector before returning the service to Angular.</blockquote>&#xD;
sources:&#xD;
<ul><li><a href="https://angular.io/guide/architecture-services">&#xC2;&#xA0;https://angular.io/guide/architecture-services</a></li>&#xD;
 	<li><a href="https://docs.angularjs.org/guide/di">https://docs.angularjs.org/guide/di</a></li>&#xD;
</ul>&#xD;
&#xA0;&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
<a href="https://www.alexandriarepository.org/media/di" rel="attachment wp-att-162834"><img class=" wp-image-162834 aligncenter" src="./assets/di.png" alt="" width="774" height="285"/></a>&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
&#xA0;&#xD;
<div class="square-box">&#xD;
<h3>Application</h3>&#xD;
Using Angular, develop a frontend for the RESTFul application that we developed in week&#xC2;&#xA0;7 (<a href="https://www.alexandriarepository.org/module/week-7-create-a-restful-application/">https://www.alexandriarepository.org/module/week-7-create-a-restful-application/</a>)&#xD;
&#xD;
The front end has to provide the following CRUD operations:&#xD;
<ul><li>Add new Actor</li>&#xD;
 	<li>Delete actor</li>&#xD;
 	<li>Update actor</li>&#xD;
 	<li>Retrieve&#xC2;&#xA0;all actors</li>&#xD;
</ul></div>&#xD;
&#xA0;&#xD;
&#xD;
Create an Angular application using the ng CLI:&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="shell">ng new movieAng</pre>&#xD;
&#xA0;&#xD;
&#xD;
open the new project using VSCode.&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
from week 7, copy <strong>models</strong> and <strong>routers</strong> folders and <strong>server.js</strong> and paste them in the root of <strong>movieAng</strong> folder.&#xC2;&#xA0; The project structure should be:&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
<a href="https://www.alexandriarepository.org/media/ps2" rel="attachment wp-att-162839"><img class="wp-image-162839 aligncenter" src="./assets/ps2.png" alt="" width="655" height="666"/></a>&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
The project will be served using node HTTP server, therefore, we need to build the Angular project each time a file at the client side gets changes. To build, open your terminal and run:&#xD;
&#xD;
&#xA0;&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="shell">ng build</pre>&#xD;
&#xA0;&#xD;
&#xD;
This command compiles your Angular project and generates new content (new HTML and JS files) in a folder named "dist" located at the root of your project.&#xD;
&#xD;
<a href="https://www.alexandriarepository.org/media/dist1" rel="attachment wp-att-162840"><img class="size-full wp-image-162840 aligncenter" src="./assets/dist1.png" alt="" width="627" height="615"/></a>&#xD;
&#xD;
Now, you have to use the 'dist' folder as a source for the client UI. In other words, any request other than the CRUD operation should be redirected to this folder. To do this, add this line to app.js&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="js">app.use("/", express.static(path.join(__dirname, "dist/movieAng")));&#xD;
</pre>&#xD;
<blockquote>The Path module provides a way of working with directories and file paths. To add it to your app:&#xD;
&#xD;
let path = require('path');</blockquote>&#xD;
Now, start your server and navigate to <strong>http://localhost:8080</strong> to get the default Angular page.&#xD;
&#xD;
&#xA0;&#xD;
<h2>Adding New Component</h2>&#xD;
In order to add a new component, we will use the Angular CLI (ng) '<strong>ng generate component [name]</strong>' to generate all the default files, folders, and settings. In your terminal, run:&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="null">ng generate component Actor</pre>&#xD;
or&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="null">ng g c Actor</pre>&#xD;
where 'Actor' is the name of the new component.&#xC2;&#xA0; In the project structure, you will find a new folder named 'actor' contains the default files for the component:&#xD;
&#xD;
&#xA0;&#xD;
<ul><li>actor.component.html: the template in HTML format and its initial code will be:</li>&#xD;
</ul><pre class="EnlighterJSRAW" style="padding-left: 30px;" data-enlighter-language="html">&lt;p&gt;&#xD;
  actor works!&#xD;
&lt;/p&gt;&#xD;
</pre>&#xD;
<ul><li>actor.component.css: the style sheet for the template</li>&#xD;
 	<li>actor.component.ts: where the business logic is coded in a class named 'ActorComponent'</li>&#xD;
</ul><pre class="EnlighterJSRAW" style="padding-left: 30px;" data-enlighter-language="js">import { Component, OnInit } from '@angular/core';&#xD;
&#xD;
@Component({&#xD;
  selector: 'app-actor',&#xD;
  templateUrl: './actor.component.html',&#xD;
  styleUrls: ['./actor.component.css']&#xD;
})&#xD;
export class ActorComponent implements OnInit {&#xD;
&#xD;
  constructor() { }&#xD;
&#xD;
  ngOnInit() {&#xD;
  }&#xD;
&#xD;
}&#xD;
</pre>&#xD;
<blockquote>The new component comes with a selector (i.e. tag) '&lt;app-actor&gt;&lt;/app-actor&gt;' which will be substite by the template later.</blockquote>&#xD;
<ul><li>actor.componet.specs.ts: for unit testing (I have deleted this file)</li>&#xD;
</ul><a href="https://www.alexandriarepository.org/media/actorc" rel="attachment wp-att-162841"><img class="size-full wp-image-162841 aligncenter" src="./assets/actorc.png" alt="" width="320" height="433"/></a>&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
You will also notice that the <strong>ActorComponent</strong> class has been imported and added to <strong>app.module.ts</strong> automatically by the ng command.&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
Now, replace the <strong>app.component.html&#xC2;&#xA0;</strong>code with the selector (i.e. tag) of the actor component.&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="null">&lt;app-actor&gt;&lt;/app-actor&gt;</pre>&#xD;
<blockquote>index.html and the UI seen is rendered from app.component.html.</blockquote>&#xD;
By doing so, you are instantiating a new instance of Actor Component and placing its HTML (template) inside app.component.html.&#xD;
&#xD;
To run the app, we have to build Angular's component first. In order to automate the process of building the Angular project with each change of its files, this command should be used in a new terminal:&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="shell">ng build --watch</pre>&#xD;
&#xA0;&#xD;
<blockquote>It is possible to split the VSCode terminal into two sessions by using: Ctrl+'\'</blockquote>&#xD;
In the first terminal run the server by:&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="null">node server.js</pre>&#xD;
Navigate to http://localhost:8080 to get 'actor works! '&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
<hr/><h2>Adding a new Service</h2>&#xD;
An angular service is an object that gets instantiated only once during the lifetime of an application. It contains methods that maintain data throughout the life of an application. The main benefit of having a service is to organize and share methods, models, or data with different components of an Angular application.&#xD;
&#xD;
We will add a service that is responsible for the communication with the RESTFul server.&#xD;
&#xD;
Again, the CLI command will be used to generate a new service:&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="null">ng generate service database</pre>&#xD;
or&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="null">ng g s database</pre>&#xD;
&#xA0;&#xD;
&#xD;
A new file 'database.service.ts' has been added to the project and it contains:&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="js">import { Injectable } from '@angular/core';&#xD;
&#xD;
@Injectable({&#xD;
  providedIn: 'root'&#xD;
})&#xD;
export class DatabaseService {&#xD;
&#xD;
  constructor() { }&#xD;
}&#xD;
</pre>&#xD;
&#xA0;&#xD;
&#xD;
'@Injectable' is a marker metadata that marks a class as available to Injector for creation. In order to make this service available to the whole application, we will keep the default value of the property 'proividedIn' as root. But, if we need to be allocated to a certain module, then we need to update it. All the functionalities that will be provided by this service will be coded inside the class <strong>DatabaseService</strong>.&#xD;
&#xD;
The constructor is used to provide references to dependencies and can also be used to initialize the process of the service.&#xD;
&#xD;
The last step is to tell the app module that this new service should be available application-wide. To do so, add '<strong>DatabaseService</strong>' to the list of providers in <strong>app.module.ts</strong>.&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="js">providers: [DatabaseService],</pre>&#xD;
&#xA0;&#xD;
<h3>Dependency Injection</h3>&#xD;
The database service depends on the HTTP service in its communications with the RESTFul servers.&#xC2;&#xA0; To achieve that:&#xD;
&#xD;
import the Angular HttpClientModule in the root AppModule app.module.ts.&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="null">imports: [BrowserModule, FormsModule, HttpClientModule]</pre>&#xD;
and add this line to list of imports at the list of imports&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="null">import { FormsModule } from "@angular/forms";</pre>&#xD;
where&#xC2;&#xA0; <strong>BrowserModule</strong> exports required infrastructure for all Angular apps and&#xC2;&#xA0;<strong>FormsModule e</strong>xports the required providers and directives for template-driven forms (i.e. it is required by the two-way binding directive ngModel)&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
open database.service.ts and import both&#xC2;&#xA0;<strong>HttpClient</strong> and&#xC2;&#xA0; <strong>HttpHeaders</strong> from angular http package:&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="js">import { HttpClient, HttpHeaders } from "@angular/common/http";&#xD;
</pre>&#xD;
&#xA0;&#xD;
&#xD;
In the service's constructor, add a reference to the <strong>httpClient</strong>:&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="js">constructor(private http: HttpClient) {}&#xD;
</pre>&#xD;
By doing so, Angular will inject the httpClient to our service and make it available with reference <strong>http</strong>. Now, any method inside the service will be able to make http requests by calling <strong>this.http&#xC2;&#xA0;</strong>(for instance <strong>this.http.get</strong> for a GET request).&#xD;
&#xD;
&#xA0;&#xD;
<h3 id="w8meeting">GET Request</h3>&#xD;
In order to fetch all the actors, we need to send a GET http request to '/actors'&#xD;
<blockquote>'/actors' is relative to the server's address that servers the client side</blockquote>&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="js">getActors() {&#xD;
   return this.http.get("/actors");&#xD;
 }</pre>&#xD;
<div>&#xD;
<div><strong>getActors</strong> is a function that sends a GET request and returns the array of actors.</div>&#xD;
</div>&#xD;
&#xA0;&#xD;
&#xD;
to retrieve one actor by its ID, we have to send a GET request with URL '/actors/id' :&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="js">getActor(id: string) {&#xD;
  let url = "/actors/" + id;&#xD;
  return this.http.get(url);&#xD;
}</pre>&#xD;
&#xA0;&#xD;
<h3>POST Request</h3>&#xD;
POST requests&#xC2;&#xA0;are required to create new documents in the database.&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="js">createActor(data) {&#xD;
  return this.http.post("/actors", data, httpOptions);&#xD;
}</pre>&#xD;
where <strong>data</strong> is an object contains the actor's details that are collected from the UI elements and&#xC2;&#xA0;<strong>httpOptions&#xC2;&#xA0;</strong> is an object that specifies a set of options for the request such as the format of the body (JSON in our case).&#xD;
&#xD;
&#xA0;&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="js">const httpOptions = {&#xD;
  headers: new HttpHeaders({ "Content-Type": "application/json" }),&#xD;
};</pre>&#xD;
&#xA0;&#xD;
<h3>PUT Request</h3>&#xD;
PUT requests are used to update a document already exist in the database. The following function accepts as input two parameters, the id of the document and the update.&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="js">updateActor(id, data) {&#xD;
  let url = "/actors/" + id;&#xD;
  return this.http.put(url, data, httpOptions);&#xD;
}</pre>&#xD;
&#xA0;&#xD;
<h3>DELETE Request</h3>&#xD;
To send a delete request, an id is required:&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="js">deleteActor(id) {&#xD;
  let url = "/actors/" + id;&#xD;
  return this.http.delete(url, httpOptions);&#xD;
}</pre>&#xD;
&#xA0;&#xD;
&#xD;
So, database.service.ts in one piece:&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="js">import { Injectable } from "@angular/core";&#xD;
import { HttpClient, HttpHeaders } from "@angular/common/http";&#xD;
const httpOptions = {&#xD;
  headers: new HttpHeaders({ "Content-Type": "application/json" }),&#xD;
};&#xD;
&#xD;
@Injectable({&#xD;
  providedIn: "root",&#xD;
})&#xD;
export class DatabaseService {&#xD;
  constructor(private http: HttpClient) {}&#xD;
  result: any;&#xD;
&#xD;
  getActors() {&#xD;
    return this.http.get("/actors");&#xD;
  }&#xD;
  getActor(id: string) {&#xD;
    let url = "/actors/" + id;&#xD;
    return this.http.get(url);&#xD;
  }&#xD;
  createActor(data) {&#xD;
    return this.http.post("/actors", data, httpOptions);&#xD;
  }&#xD;
  updateActor(id, data) {&#xD;
    let url = "/actors/" + id;&#xD;
    return this.http.put(url, data, httpOptions);&#xD;
  }&#xD;
  deleteActor(id) {&#xD;
    let url = "/actors/" + id;&#xD;
    return this.http.delete(url, httpOptions);&#xD;
  }&#xD;
}&#xD;
</pre>&#xD;
&#xA0;&#xD;
<h3>Observables and Subscribe</h3>&#xD;
In order to handle asynchronous operation, Angular uses&#xC2;&#xA0;observables.&#xD;
&#xD;
<em><strong>So, what are&#xC2;&#xA0;observables?</strong></em>&#xD;
&#xD;
Observables are declarative&#xE2;&#x80;&#x94;that is, you define a function for publishing values, but it is not executed until a consumer subscribes to it. The subscribed consumer then receives notifications until the function completes, or until they unsubscribe.&#xD;
&#xD;
To execute the observable and begin receiving notifications, you call its subscribe() method, passing an observer (i.e. callback function). This is a JavaScript object that defines the handlers for the notifications you receive.&#xD;
&#xD;
Therefore, all the http functions (<strong>get(),put(),post(), and delete()</strong>) return an observable output and our component has to call their <strong>subsucribe()</strong> methods to get them executed.&#xD;
&#xD;
Source and More Details:<a href="https://angular.io/guide/observables">&#xC2;&#xA0;https://angular.io/guide/observables</a>&#xD;
<h2>Inject the database service to the Actor Component</h2>&#xD;
As the actor component needs to perform the CRUD operations with the RESTFul server, we have to provide this service to it.&#xD;
&#xD;
First, import&#xC2;&#xA0;the service:&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="js">import { DatabaseService } from "../database.service";&#xD;
</pre>&#xD;
&#xA0;&#xD;
&#xD;
Second, inject. Similar to injecting the HTTP service to the database service, we will use the constructor to provide a reference to the database service :&#xD;
&#xD;
&#xA0;&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="null">constructor(private dbService: DatabaseService) {}&#xD;
</pre>&#xD;
Angular will create a new instance of DatabaseService (if not available) and inject it under the name 'dbService'.&#xD;
&#xD;
&#xA0;&#xD;
<h3>Managing Different UI Sections</h3>&#xD;
Similar to the previous week, we will create a set of div sections that are controlled by '*ngIf' directive to only show one section at a time but using an integer variable instead of boolean.&#xD;
&#xD;
The integer variable is called 'section' and it is declared in the actor.component.ts:&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="null">section = 1;</pre>&#xD;
To change its value, a function named '<strong>changeSection(id)</strong>' is developed. This function is invoked by four buttons represent the navigation bar of the application. Each button will send to the&#xC2;&#xA0;'<strong>changeSection()</strong>' function a unique number between 1..4 represents the section we intend to make visible.&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="js">changeSection(sectionId) {&#xD;
  this.section = sectionId;&#xD;
}&#xD;
</pre>&#xD;
and the navigation bar is:&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="html">&lt;nav class="navbar navbar-expand-sm bg-light"&gt;&#xD;
  &lt;ul class="navbar-nav"&gt;&#xD;
    &lt;li class="nav-item" style="padding-left:0.2in"&gt;&#xD;
      &lt;a class="btn btn-primary" (click)="changeSection(1)"&gt;Home&lt;/a&gt;&#xD;
    &lt;/li&gt;&#xD;
    &lt;li class="nav-item" style="padding-left:0.2in"&gt;&#xD;
      &lt;a class="btn btn-primary" (click)="changeSection(2)"&gt;Add Actor&lt;/a&gt;&#xD;
    &lt;/li&gt;&#xD;
    &lt;li class="nav-item" style="padding-left:0.2in"&gt;&#xD;
      &lt;a class="btn btn-primary" (click)="changeSection(3)"&gt;Update Actor&lt;/a&gt;&#xD;
    &lt;/li&gt;&#xD;
    &lt;li class="nav-item" style="padding-left:0.2in"&gt;&#xD;
      &lt;a class="btn btn-primary" (click)="changeSection(4)"&gt;Delete Actor&lt;/a&gt;&#xD;
    &lt;/li&gt;&#xD;
  &lt;/ul&gt;&#xD;
&lt;/nav&gt;&#xD;
</pre>&#xD;
Source:&#xC2;&#xA0;<a href="https://www.w3schools.com/bootstrap4/bootstrap_navbar.asp">https://www.w3schools.com/bootstrap4/bootstrap_navbar.asp</a>&#xD;
&#xD;
<a href="https://www.alexandriarepository.org/media/nav" rel="attachment wp-att-162847"><img class="alignnone size-full wp-image-162847" src="./assets/nav.png" alt="" width="691" height="316"/></a>&#xD;
&#xD;
The first section is to display all the actors in a table format. Open actor.component.html and paste this code:&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="html">&lt;div class="section" *ngIf="section==1"&gt;&#xD;
  &lt;table class="table table-striped"&gt;&#xD;
    &lt;tr&gt;&#xD;
      &lt;th&gt;Name&lt;/th&gt;&#xD;
      &lt;th&gt;Birth Year&lt;/th&gt;&#xD;
    &lt;/tr&gt;&#xD;
    &lt;tr *ngFor="let item of actorsDB"&gt;&#xD;
      &lt;td&gt;{{item.name}}&lt;/td&gt;&#xD;
      &lt;td&gt;{{item.bYear}}&lt;/td&gt;&#xD;
    &lt;/tr&gt;&#xD;
  &lt;/table&gt;&#xD;
&lt;/div&gt;</pre>&#xD;
This section will be visible if the value of the variable '<strong>section</strong>' is equal to 1. '<strong>actorsDB'</strong> is an array that is declared in the <strong>actor.component.ts</strong> and contains all the actors retrieved by the GET request.&#xD;
&#xD;
in the actor.component.ts:&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="js">actorsDB: any[] = [];&#xD;
</pre>&#xD;
to get all the actors and save them into <strong>actorsDB</strong>, this function will invoke <strong>getActors</strong> function which is developed earlier in the database service:&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="null">onGetActors() {&#xD;
  this.dbService.getActors().subscribe((data: any[]) =&gt; {&#xD;
    this.actorsDB = data;&#xD;
  });&#xD;
}</pre>&#xD;
<blockquote>the output of getActors is observable and we have to subscribe to get the method executed. We have to provide a function that represents the handler of the output of method getActors()</blockquote>&#xD;
The second section will be responsible for creating a new actor and its section value is equal to 2 (visible if section=2).&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="html">&lt;div class="section" *ngIf="section==2"&gt;&#xD;
  &lt;div class="form-group"&gt;&#xD;
    &lt;label for="actorName"&gt;Full Name&lt;/label&gt;&#xD;
    &lt;input type="text" class="form-control" id="actorName" [(ngModel)]="fullName"&gt;&#xD;
  &lt;/div&gt;&#xD;
  &lt;div class="form-group"&gt;&#xD;
    &lt;label for="actorName"&gt;Birth Year&lt;/label&gt;&#xD;
    &lt;input type="number" class="form-control" id="actorName" [(ngModel)]="bYear"&gt;&#xD;
  &lt;/div&gt;&#xD;
  &lt;button type="submit" class="btn btn-primary" (click)="onSaveActor()"&gt;Save Actor&lt;/button&gt;&#xD;
&lt;/div&gt;</pre>&#xD;
This section contains two two-way binding variables:&#xC2;&#xA0;<strong>fullName</strong> and <strong>bYear</strong>, which are declared in the <strong>actor.component.ts</strong> as string and number respectively.&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="js">fullName: string = "";&#xD;
bYear: number = 0;</pre>&#xD;
It also has a button that invokes a method named 'onSaveActor()', which will be responsible for calling the database service function 'createActor()'&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="js">onSaveActor() {&#xD;
   let obj = { name: this.fullName, bYear: this.bYear };&#xD;
   this.dbService.createActor(obj).subscribe(result =&gt; {&#xD;
     this.onGetActors();&#xD;
   });&#xD;
 }</pre>&#xD;
After adding the new actor, the function calls '<strong>onGetActors()</strong>' to update the list of actors in the array <strong>actorsDB.</strong>&#xD;
&#xD;
The third section, which will be visible of the value of section is equal to 3, is the update section.&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="html">&lt;div class="section" *ngIf="section==3"&gt;&#xD;
  &lt;table class="table table-striped"&gt;&#xD;
    &lt;tr&gt;&#xD;
      &lt;th&gt;Name&lt;/th&gt;&#xD;
      &lt;th&gt;Birth Year&lt;/th&gt;&#xD;
      &lt;th&gt;Select!&lt;/th&gt;&#xD;
    &lt;/tr&gt;&#xD;
    &lt;tr *ngFor="let item of actorsDB"&gt;&#xD;
      &lt;td&gt;{{item.name}}&lt;/td&gt;&#xD;
      &lt;td&gt;{{item.bYear}}&lt;/td&gt;&#xD;
      &lt;td&gt;&lt;button type="submit" class="btn btn-primary" (click)="onSelectUpdate(item)"&gt;Update&lt;/button&gt;&lt;/td&gt;&#xD;
    &lt;/tr&gt;&#xD;
  &lt;/table&gt;&#xD;
  &lt;hr&gt;&#xD;
  &lt;div *ngIf="actorsDB.length&gt;0"&gt;&#xD;
    &lt;div class="form-group"&gt;&#xD;
      &lt;label for="actorName"&gt;Full Name&lt;/label&gt;&#xD;
      &lt;input type="text" class="form-control" id="actorName" [(ngModel)]="fullName"&gt;&#xD;
    &lt;/div&gt;&#xD;
    &lt;div class="form-group"&gt;&#xD;
      &lt;label for="actorName"&gt;Birth Year&lt;/label&gt;&#xD;
      &lt;input type="number" class="form-control" id="actorName" [(ngModel)]="bYear"&gt;&#xD;
    &lt;/div&gt;&#xD;
    &lt;button type="submit" class="btn btn-primary" (click)="onUpdateActor()"&gt;Update Actor&lt;/button&gt;&#xD;
  &lt;/div&gt;&#xD;
&lt;/div&gt;</pre>&#xD;
&#xA0;&#xD;
&#xD;
This section shows the list of actors in a table with a button to select the actor for the update.&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
<a href="https://www.alexandriarepository.org/media/update" rel="attachment wp-att-162845"><img class="alignnone wp-image-162845" src="./assets/update.png" alt="" width="546" height="327"/></a>&#xD;
&#xD;
The '<strong>update</strong>' button invokes a method named '<strong>onSelectUpdate</strong>' that takes as input the selected actor object and extracts its details into global variables to be used later by the <strong>onUpdateActor</strong> method.&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="js">onSelectUpdate(item) {&#xD;
  this.fullName = item.name;&#xD;
  this.bYear = item.bYear;&#xD;
  this.actorId = item._id;&#xD;
}&#xD;
onUpdateActor() {&#xD;
  let obj = { name: this.fullName, bYear: this.bYear };&#xD;
  this.dbService.updateActor(this.actorId, obj).subscribe(result =&gt; {&#xD;
    this.onGetActors();&#xD;
  });&#xD;
}</pre>&#xD;
&#xA0;&#xD;
&#xD;
The last section is the delete actor section which will be visible if the value of the variable&#xC2;&#xA0;<strong>section</strong> is equal to 4.&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="null">&lt;div class="section" *ngIf="section==4"&gt;&#xD;
  &lt;table class="table table-striped"&gt;&#xD;
    &lt;tr&gt;&#xD;
      &lt;th&gt;Name&lt;/th&gt;&#xD;
      &lt;th&gt;Birth Year&lt;/th&gt;&#xD;
      &lt;th&gt;Delete?&lt;/th&gt;&#xD;
    &lt;/tr&gt;&#xD;
    &lt;tr *ngFor="let item of actorsDB"&gt;&#xD;
      &lt;td&gt;{{item.name}}&lt;/td&gt;&#xD;
      &lt;td&gt;{{item.bYear}}&lt;/td&gt;&#xD;
      &lt;td&gt;&lt;button type="submit" class="btn btn-primary" (click)="onDeleteActor(item)"&gt;Delete&lt;/button&gt;&lt;/td&gt;&#xD;
    &lt;/tr&gt;&#xD;
  &lt;/table&gt;&#xD;
&lt;/div&gt;</pre>&#xD;
It shows the list of available actors in a table with a button for each one to invoke a method named '<strong>onDeleteActor</strong>()'.&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="js">onDeleteActor(item) {&#xD;
  this.dbService.deleteActor(item._id).subscribe(result =&gt; {&#xD;
    this.onGetActors();&#xD;
  });&#xD;
}</pre>&#xD;
&#xA0;&#xD;
&#xD;
<a href="https://www.alexandriarepository.org/media/delete-4" rel="attachment wp-att-162846"><img class="alignnone size-full wp-image-162846" src="./assets/delete.png" alt="" width="748" height="232"/></a>&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
In order to reset the input fields after each operation, a 'resetValue' method is developed:&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="null">resetValues() {&#xD;
  this.fullName = "";&#xD;
  this.bYear = 0;&#xD;
  this.actorId = "";&#xD;
}</pre>&#xD;
&#xA0;&#xD;
&#xD;
So, the actor.component.ts in one piece:&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="js">import { Component, OnInit } from "@angular/core";&#xD;
import { DatabaseService } from "../database.service";&#xD;
&#xD;
@Component({&#xD;
  selector: "app-actor",&#xD;
  templateUrl: "./actor.component.html",&#xD;
  styleUrls: ["./actor.component.css"],&#xD;
})&#xD;
export class ActorComponent implements OnInit {&#xD;
  actorsDB: any[] = [];&#xD;
&#xD;
  section = 1;&#xD;
&#xD;
  fullName: string = "";&#xD;
  bYear: number = 0;&#xD;
  actorId: string = "";&#xD;
&#xD;
  constructor(private dbService: DatabaseService) {}&#xD;
&#xD;
  //Get all Actors&#xD;
  onGetActors() {&#xD;
    this.dbService.getActors().subscribe((data: any[]) =&gt; {&#xD;
      this.actorsDB = data;&#xD;
    });&#xD;
  }&#xD;
  //Create a new Actor, POST request&#xD;
  onSaveActor() {&#xD;
    let obj = { name: this.fullName, bYear: this.bYear };&#xD;
    this.dbService.createActor(obj).subscribe(result =&gt; {&#xD;
      this.onGetActors();&#xD;
    });&#xD;
  }&#xD;
  // Update an Actor&#xD;
  onSelectUpdate(item) {&#xD;
    this.fullName = item.name;&#xD;
    this.bYear = item.bYear;&#xD;
    this.actorId = item._id;&#xD;
  }&#xD;
  onUpdateActor() {&#xD;
    let obj = { name: this.fullName, bYear: this.bYear };&#xD;
    this.dbService.updateActor(this.actorId, obj).subscribe(result =&gt; {&#xD;
      this.onGetActors();&#xD;
    });&#xD;
  }&#xD;
&#xD;
  //Delete Actor&#xD;
  onDeleteActor(item) {&#xD;
    this.dbService.deleteActor(item._id).subscribe(result =&gt; {&#xD;
      this.onGetActors();&#xD;
    });&#xD;
  }&#xD;
  // This lifecycle callback function will be invoked with the component get initialized by Angular.&#xD;
  ngOnInit() {&#xD;
    this.onGetActors();&#xD;
  }&#xD;
&#xD;
  changeSection(sectionId) {&#xD;
    this.section = sectionId;&#xD;
    this.resetValues();&#xD;
  }&#xD;
&#xD;
  resetValues() {&#xD;
    this.fullName = "";&#xD;
    this.bYear = 0;&#xD;
    this.actorId = "";&#xD;
  }&#xD;
}&#xD;
</pre>&#xD;
&#xA0;&#xD;
&#xD;
and actor.component.html in one piece:&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="html">&lt;div class="jumbotron text-center"&gt;&#xD;
  &lt;h1&gt;Actors DB System&lt;/h1&gt;&#xD;
&lt;/div&gt;&#xD;
&#xD;
&lt;!-- The navigation bar --&gt;&#xD;
&lt;nav class="navbar navbar-expand-sm bg-light"&gt;&#xD;
  &lt;ul class="navbar-nav"&gt;&#xD;
    &lt;li class="nav-item" style="padding-left:0.2in"&gt;&#xD;
      &lt;a class="btn btn-primary" (click)="changeSection(1)"&gt;Home&lt;/a&gt;&#xD;
    &lt;/li&gt;&#xD;
    &lt;li class="nav-item" style="padding-left:0.2in"&gt;&#xD;
      &lt;a class="btn btn-primary" (click)="changeSection(2)"&gt;Add Actor&lt;/a&gt;&#xD;
    &lt;/li&gt;&#xD;
    &lt;li class="nav-item" style="padding-left:0.2in"&gt;&#xD;
      &lt;a class="btn btn-primary" (click)="changeSection(3)"&gt;Update Actor&lt;/a&gt;&#xD;
    &lt;/li&gt;&#xD;
    &lt;li class="nav-item" style="padding-left:0.2in"&gt;&#xD;
      &lt;a class="btn btn-primary" (click)="changeSection(4)"&gt;Delete Actor&lt;/a&gt;&#xD;
    &lt;/li&gt;&#xD;
  &lt;/ul&gt;&#xD;
&lt;/nav&gt;&#xD;
&#xD;
&lt;!-- First section: Display all in a tble --&gt;&#xD;
&lt;div class="section" *ngIf="section==1"&gt;&#xD;
  &lt;table class="table table-striped"&gt;&#xD;
    &lt;tr&gt;&#xD;
      &lt;th&gt;Name&lt;/th&gt;&#xD;
      &lt;th&gt;Birth Year&lt;/th&gt;&#xD;
    &lt;/tr&gt;&#xD;
    &lt;tr *ngFor="let item of actorsDB"&gt;&#xD;
      &lt;td&gt;{{item.name}}&lt;/td&gt;&#xD;
      &lt;td&gt;{{item.bYear}}&lt;/td&gt;&#xD;
    &lt;/tr&gt;&#xD;
  &lt;/table&gt;&#xD;
&lt;/div&gt;&#xD;
&#xD;
&lt;!-- Second Section: Add new actor --&gt;&#xD;
&lt;div class="section" *ngIf="section==2"&gt;&#xD;
  &lt;div class="form-group"&gt;&#xD;
    &lt;label for="actorName"&gt;Full Name&lt;/label&gt;&#xD;
    &lt;input type="text" class="form-control" id="actorName" [(ngModel)]="fullName"&gt;&#xD;
  &lt;/div&gt;&#xD;
  &lt;div class="form-group"&gt;&#xD;
    &lt;label for="actorName"&gt;Birth Year&lt;/label&gt;&#xD;
    &lt;input type="number" class="form-control" id="actorName" [(ngModel)]="bYear"&gt;&#xD;
  &lt;/div&gt;&#xD;
  &lt;button type="submit" class="btn btn-primary" (click)="onSaveActor()"&gt;Save Actor&lt;/button&gt;&#xD;
&lt;/div&gt;&#xD;
&#xD;
&lt;!-- Section 3: Update actor --&gt;&#xD;
&#xD;
&lt;div class="section" *ngIf="section==3"&gt;&#xD;
  &lt;table class="table table-striped"&gt;&#xD;
    &lt;tr&gt;&#xD;
      &lt;th&gt;Name&lt;/th&gt;&#xD;
      &lt;th&gt;Birth Year&lt;/th&gt;&#xD;
      &lt;th&gt;Select!&lt;/th&gt;&#xD;
    &lt;/tr&gt;&#xD;
    &lt;tr *ngFor="let item of actorsDB"&gt;&#xD;
      &lt;td&gt;{{item.name}}&lt;/td&gt;&#xD;
      &lt;td&gt;{{item.bYear}}&lt;/td&gt;&#xD;
      &lt;td&gt;&lt;button type="submit" class="btn btn-primary" (click)="onSelectUpdate(item)"&gt;Update&lt;/button&gt;&lt;/td&gt;&#xD;
    &lt;/tr&gt;&#xD;
  &lt;/table&gt;&#xD;
  &lt;hr&gt;&#xD;
  &lt;div *ngIf="actorsDB.length&gt;0"&gt;&#xD;
    &lt;div class="form-group"&gt;&#xD;
      &lt;label for="actorName"&gt;Full Name&lt;/label&gt;&#xD;
      &lt;input type="text" class="form-control" id="actorName" [(ngModel)]="fullName"&gt;&#xD;
    &lt;/div&gt;&#xD;
    &lt;div class="form-group"&gt;&#xD;
      &lt;label for="actorName"&gt;Birth Year&lt;/label&gt;&#xD;
      &lt;input type="number" class="form-control" id="actorName" [(ngModel)]="bYear"&gt;&#xD;
    &lt;/div&gt;&#xD;
    &lt;button type="submit" class="btn btn-primary" (click)="onUpdateActor()"&gt;Update Actor&lt;/button&gt;&#xD;
  &lt;/div&gt;&#xD;
&lt;/div&gt;&#xD;
&#xD;
&lt;!-- Section 4: Delete Actor --&gt;&#xD;
&lt;div class="section" *ngIf="section==4"&gt;&#xD;
  &lt;table class="table table-striped"&gt;&#xD;
    &lt;tr&gt;&#xD;
      &lt;th&gt;Name&lt;/th&gt;&#xD;
      &lt;th&gt;Birth Year&lt;/th&gt;&#xD;
      &lt;th&gt;Delete?&lt;/th&gt;&#xD;
    &lt;/tr&gt;&#xD;
    &lt;tr *ngFor="let item of actorsDB"&gt;&#xD;
      &lt;td&gt;{{item.name}}&lt;/td&gt;&#xD;
      &lt;td&gt;{{item.bYear}}&lt;/td&gt;&#xD;
      &lt;td&gt;&lt;button type="submit" class="btn btn-primary" (click)="onDeleteActor(item)"&gt;Delete&lt;/button&gt;&lt;/td&gt;&#xD;
    &lt;/tr&gt;&#xD;
  &lt;/table&gt;&#xD;
&lt;/div&gt;</pre>&#xD;
&#xA0;&#xD;
&#xD;
and app.module.ts&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="js">import { BrowserModule } from "@angular/platform-browser";&#xD;
import { NgModule } from "@angular/core";&#xD;
&#xD;
import { AppComponent } from "./app.component";&#xD;
import { ActorComponent } from "./actor/actor.component";&#xD;
import { DatabaseService } from "./database.service";&#xD;
import { HttpClientModule } from "@angular/common/http";&#xD;
import { FormsModule } from "@angular/forms";&#xD;
&#xD;
@NgModule({&#xD;
  declarations: [AppComponent, ActorComponent],&#xD;
  imports: [BrowserModule, HttpClientModule, FormsModule],&#xD;
  providers: [DatabaseService],&#xD;
  bootstrap: [AppComponent],&#xD;
})&#xD;
export class AppModule {}</pre>&#xD;
&#xA0;&#xD;
&#xD;
The app:&#xD;
&#xD;
<img class="size-full wp-image-162852 aligncenter" src="./assets/13.gif" alt="" width="864" height="712"/>&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
&#xA0;</body></html>
