<?xml version="1.0" standalone="yes"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html><body><h1><strong>Single Page Application</strong></h1>&#xD;
Single-Page Applications (SPAs) are Web apps that load a single HTML page and dynamically update that page as the user interacts with the app.&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
In other words, in Multi-Page Applications (MPAs), the server responds with HTML files with each request. The client (such as browsers) has to render the whole page again. Sending a new HTML file might also include its static assets&#xC2;&#xA0;such as CSS, JS, png&#xC2;&#xA0;files.&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
<a href="https://www.alexandriarepository.org/media/mpa" rel="attachment wp-att-163424"><img class="wp-image-163424 aligncenter" src="./assets/mpa.png" alt="" width="825" height="374"/></a>&#xD;
&#xD;
In the case of SPAs, clients load a single HTML that represents most of the web app and communicate&#xC2;&#xA0;with their servers via HTTP requests.&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
<a href="https://www.alexandriarepository.org/media/spa" rel="attachment wp-att-163425"><img class="wp-image-163425 aligncenter" src="./assets/spa.png" alt="" width="853" height="392"/></a>&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
&#xA0;&#xD;
<h3>Disadvantages of Single Page Applications</h3>&#xD;
<ul><li>History: Browsers such as Chrome store history so that web pages load quickly when users hit the back button. The back button takes you the previous page, not the previous state (Component) of your app.</li>&#xD;
 	<li>Loading CSS and JS: SPAs might get higher booting time as they have to load most of the assets in advance.</li>&#xD;
 	<li>Analytics:&#xC2;&#xA0;Analytics tools track page views by default, not components or app states.</li>&#xD;
 	<li>Security: Part of the web app engine will be on the client side.</li>&#xD;
</ul>&#xD;
&#xA0;&#xD;
<h2>Routing &amp; Navigation [1,2]</h2>&#xD;
The Angular Router enables navigation from one view to the next as users perform application tasks.&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
In most web applications, users navigate from one page to the next as they perform application tasks. Users can navigate in these ways:&#xD;
<ul><li>Entering a URL in the address bar Following links,</li>&#xD;
 	<li>clicking buttons,</li>&#xD;
 	<li>and so on Going backward or forward in the browser history</li>&#xD;
</ul>&#xD;
&#xA0;&#xD;
&#xD;
In Angular applications, users can navigate in the same three ways but they&#xE2;&#x80;&#x99;re navigating through components (the building blocks of Angular apps). We can navigate because we have the Angular router. The router can interpret a browser URL as an instruction to navigate to a component and pass optional parameters (which contain information) to the component to give it contextual information and help it decide which specific content to present or what it needs to do. We can bind the router to links on a page, and it will navigate to the appropriate component when the user clicks a link. We can navigate imperatively when the user clicks a button, selects from a drop-down, or responds to some other stimulus from any source. The router logs activity in the browser&#xE2;&#x80;&#x99;s history, so the back and forward buttons work as well.&#xD;
&#xD;
&#xA0;&#xD;
<h3>Router imports</h3>&#xD;
The Angular Router is an optional service that presents a particular component view for a given URL. It is not part of the Angular core. It is in its own library package, @angular/router. Import what you need from it as you would from any other Angular package.&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="js">import { RouterModule, Routes } from '@angular/router';</pre>&#xD;
&#xA0;&#xD;
<h3>RouterConfiguration</h3>&#xD;
A routed Angular application has one singleton instance of the Router service. When the browser's URL changes, that router looks for a corresponding Route from which it can determine the component to display.&#xD;
&#xD;
A router has no routes until you configure it. The following example creates four route definitions, configures the router via the RouterModule.forRoot method, and adds the result to the AppModule's imports array.&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="null">const appRoutes: Routes = [&#xD;
  { path: "listactors", component: ListactorsComponent },&#xD;
  { path: "addactor", component: AddactorComponent },&#xD;
  { path: "updateactor", component: UpdateactorComponent },&#xD;
  { path: "deleteactor", component: DeleteactorComponent },&#xD;
  { path: "", redirectTo: "/listactors", pathMatch: "full" },&#xD;
];</pre>&#xD;
&#xA0;&#xD;
<blockquote>The appRoutes array of routes describes how to navigate. Pass it to the<strong> RouterModule.forRoot</strong> method in the module imports to configure the router.&#xD;
&#xD;
Each Route maps a URL path to a component. There are no leading slashes in the path. The router parses and builds the final URL for you, allowing you to use both relative and absolute paths when navigating between application views.&#xD;
&#xD;
The empty path in the fifth route represents the default path for the application, the place to go when the path in the URL is empty, as it typically is at the start. This default route redirects to the route for the /listactors URL and, therefore, will display the ListactorsComponent.&#xD;
&#xD;
It is possible to add ** path which is a wildcard. The router will select this route if the requested URL doesn't match any paths for routes defined earlier in the configuration. This is useful for displaying a "404 - Not Found" page or redirecting to another route.&#xD;
&#xD;
The order of the routes in the configuration matters and this is by design. The router uses a first-match wins strategy when matching routes, so more specific routes should be placed above less specific routes. In the configuration above, routes with a static path are listed first, followed by an empty path route, that matches the default route. The wildcard route comes last because it matches every URL and should be selected only if no other routes are matched first.</blockquote>&#xD;
&#xA0;&#xD;
<h3 id="Routeroutlet">Router outlet</h3>&#xD;
Given this configuration, when the browser URL for this application becomes /listactors, the router matches that URL to the route path /listactors and displays the ListactorsComponent after a RouterOutlet that you've placed in the host view's HTML.&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="html">&lt;router-outlet&gt;&lt;/router-outlet&gt;&#xD;
&lt;!-- Routed views go here --&gt;</pre>&#xD;
&#xA0;&#xD;
<h3>Router links</h3>&#xD;
Now you have routes configured and a place to render them, but how do you navigate? The URL could arrive directly from the browser address bar. But most of the time you navigate as a result of some user action such as the click of an anchor tag.&#xD;
&#xD;
Consider the following template:&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="html">&lt;a class="nav-link" routerLink="/listactors" routerLinkActive="active"&gt;List &lt;/a&gt;</pre>&#xD;
<blockquote>The RouterLink directives on the anchor tags give the router control over those elements. The navigation paths are fixed, so you can assign a string to the routerLink (a "one-time" binding).&#xD;
&#xD;
Had the navigation path been more dynamic, you could have bound to a template expression that returned an array of route link parameters (the link parameters array). The router resolves that array into a complete URL.&#xD;
&#xD;
The RouterLinkActive directive on each anchor tag helps visually distinguish the anchor for the currently selected "active" route. The router adds the active CSS class to the element when the associated RouterLink becomes active. You can add this directive to the anchor or to its parent element.</blockquote>&#xD;
&#xA0;&#xD;
<h3>Base Ref</h3>&#xD;
Most routing applications should add a &lt;base&gt; element to the index.html as the first child in the &lt;head&gt; tag to tell the router how to compose navigation URLs.&#xD;
&#xD;
As the app folder is the application root, set the href value exactly to '/'. This line should be added to /src/index.html&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="html">&lt;base href="/"&gt;</pre>&#xD;
&#xA0;&#xD;
&#xD;
More details on Routing and Navigation in Angular:&#xC2;&#xA0;<a href="https://angular.io/guide/router">https://angular.io/guide/router</a>&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
Now, let's reimplement the movie database application to be a multi-component app that is controlled by a router.&#xD;
&#xD;
We will add four components that represent the four CRUD operations. These components work as child components to the App-root component as depicted below:&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
<a href="https://www.alexandriarepository.org/media/components1" rel="attachment wp-att-163427"><img class="wp-image-163427 aligncenter" src="./assets/components1.jpg" alt="" width="828" height="286"/></a>&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
To add the four components using Angular CLI&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="shell">ng generate component listactors&#xD;
ng generate component addactor&#xD;
ng generate component updateactor&#xD;
ng generate component deleteactor&#xD;
</pre>&#xD;
&#xA0;&#xD;
&#xD;
The project structure will be:&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
<a href="https://www.alexandriarepository.org/media/projexplo" rel="attachment wp-att-163441"><img class="size-full wp-image-163441 aligncenter" src="./assets/projexplo.png" alt="" width="365" height="958"/></a>&#xD;
&#xD;
&#xA0;&#xD;
<h2>List Actors Component</h2>&#xD;
This component will be responsible for fetching and displaying&#xC2;&#xA0;all the actors in the database.&#xD;
&#xD;
listactors.component.html&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="html">&lt;div class="section"&gt;&#xD;
  &lt;table class="table table-striped"&gt;&#xD;
    &lt;tr&gt;&#xD;
      &lt;th&gt;Name&lt;/th&gt;&#xD;
      &lt;th&gt;Birth Year&lt;/th&gt;&#xD;
    &lt;/tr&gt;&#xD;
    &lt;tr *ngFor="let item of actorsDB"&gt;&#xD;
      &lt;td&gt;{{item.name}}&lt;/td&gt;&#xD;
      &lt;td&gt;{{item.bYear}}&lt;/td&gt;&#xD;
    &lt;/tr&gt;&#xD;
  &lt;/table&gt;&#xD;
&lt;/div&gt;</pre>&#xD;
<blockquote>Line 7 iterates through all items in the array&#xC2;&#xA0;actorsDB. It generates a new &lt;tr&gt; for each item. Lines 8 and 9 use&#xC2;&#xA0;string interpolation {{}} to display the values of name and bYear respectively.</blockquote>&#xD;
The backend logic of the component is coded in a file named: listactors.component.ts&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="js">import { Component, OnInit } from "@angular/core";&#xD;
import { DatabaseService } from "../database.service";&#xD;
&#xD;
@Component({&#xD;
  selector: "app-listactors",&#xD;
  templateUrl: "./listactors.component.html",&#xD;
  styleUrls: ["./listactors.component.css"],&#xD;
})&#xD;
export class ListactorsComponent implements OnInit {&#xD;
  actorsDB: any[] = [];&#xD;
&#xD;
  constructor(private dbService: DatabaseService) {}&#xD;
&#xD;
  ngOnInit() {&#xD;
    console.log("Hi From ListActors ngIOnit");&#xD;
&#xD;
    this.dbService.getActors().subscribe((data: any[]) =&gt; {&#xD;
      this.actorsDB = data;&#xD;
    });&#xD;
  }&#xD;
}&#xD;
</pre>&#xD;
<blockquote>Line 7, which is the constructor&#xC2;&#xA0;of the component, registers the need for a dependency which is the DatabaseService. The callback function ngOnInit which will be invoked by Angular as part of the component's lifecycle, uses the dbService to fetch all the actors from the database.</blockquote>&#xD;
Here is output listactors component looks like:&#xD;
&#xD;
<a href="https://www.alexandriarepository.org/media/listactors" rel="attachment wp-att-163431"><img class="alignnone size-full wp-image-163431" style="border: dashed 1px black;" src="./assets/listactors.png" alt="" width="655" height="300"/></a>&#xD;
&#xD;
&#xA0;&#xD;
<h2>Add Actor Component</h2>&#xD;
Add actor component has two input fields and a button which is linked to a function named onSaveActor (addactor.component.ts@line17).&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="html">&lt;div class="section"&gt;&#xD;
  &lt;div class="form-group"&gt;&#xD;
    &lt;label for="actorName"&gt;Full Name&lt;/label&gt;&#xD;
    &lt;input type="text" class="form-control" id="actorName" [(ngModel)]="fullName"&gt;&#xD;
  &lt;/div&gt;&#xD;
  &lt;div class="form-group"&gt;&#xD;
    &lt;label for="actorName"&gt;Birth Year&lt;/label&gt;&#xD;
    &lt;input type="number" class="form-control" id="actorName" [(ngModel)]="bYear"&gt;&#xD;
  &lt;/div&gt;&#xD;
  &lt;button type="submit" class="btn btn-primary" (click)="onSaveActor()"&gt;Save Actor&lt;/button&gt;&#xD;
&lt;/div&gt;</pre>&#xD;
&#xA0;&#xD;
&#xD;
addactor.component.ts&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="js">import { Component, OnInit } from "@angular/core";&#xD;
import { DatabaseService } from "../database.service";&#xD;
import { Router } from "@angular/router";&#xD;
&#xD;
@Component({&#xD;
  selector: "app-addactor",&#xD;
  templateUrl: "./addactor.component.html",&#xD;
  styleUrls: ["./addactor.component.css"],&#xD;
})&#xD;
export class AddactorComponent {&#xD;
  fullName: string = "";&#xD;
  bYear: number = 0;&#xD;
  actorId: string = "";&#xD;
&#xD;
  constructor(private dbService: DatabaseService, private router: Router) {}&#xD;
&#xD;
  onSaveActor() {&#xD;
    let obj = { name: this.fullName, bYear: this.bYear };&#xD;
    this.dbService.createActor(obj).subscribe(result =&gt; {&#xD;
      this.router.navigate(["/listactors"]);&#xD;
    });&#xD;
  }&#xD;
&#xD;
}&#xD;
</pre>&#xD;
<blockquote>The constructor of this component has two dependencies: the DatabaseService and the Router as shown in line 15. The onSaveActor function generates the new actor objects and passes it to the service to be sent to the server via a post request. Line 20 uses the router service to redirect the client to another component. In other words, replace the current component with another one.</blockquote>&#xD;
<h2/>&#xD;
The addactor&#xC2;&#xA0; component:&#xD;
&#xD;
<a href="https://www.alexandriarepository.org/media/addactor" rel="attachment wp-att-163432"><img class="alignnone size-full wp-image-163432" style="border: dashed 1px black;" src="./assets/addactor.png" alt="" width="466" height="353"/></a>&#xD;
<h2>Update Actor&#xC2;&#xA0;Component</h2>&#xD;
To select the actor we want to update, this component lists all the available actors first in a table format.&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="html">&lt;div class="section"&gt;&#xD;
  &lt;table class="table table-striped"&gt;&#xD;
    &lt;tr&gt;&#xD;
      &lt;th&gt;Name&lt;/th&gt;&#xD;
      &lt;th&gt;Birth Year&lt;/th&gt;&#xD;
      &lt;th&gt;Select!&lt;/th&gt;&#xD;
    &lt;/tr&gt;&#xD;
    &lt;tr *ngFor="let item of actorsDB"&gt;&#xD;
      &lt;td&gt;{{item.name}}&lt;/td&gt;&#xD;
      &lt;td&gt;{{item.bYear}}&lt;/td&gt;&#xD;
      &lt;td&gt;&lt;button type="submit" class="btn btn-primary" (click)="onSelectUpdate(item)"&gt;Update&lt;/button&gt;&lt;/td&gt;&#xD;
    &lt;/tr&gt;&#xD;
  &lt;/table&gt;&#xD;
  &lt;hr&gt;&#xD;
  &lt;div *ngIf="actorsDB.length&gt;0"&gt;&#xD;
    &lt;div class="form-group"&gt;&#xD;
      &lt;label for="actorName"&gt;Full Name&lt;/label&gt;&#xD;
      &lt;input type="text" class="form-control" id="actorName" [(ngModel)]="fullName"&gt;&#xD;
    &lt;/div&gt;&#xD;
    &lt;div class="form-group"&gt;&#xD;
      &lt;label for="actorName"&gt;Birth Year&lt;/label&gt;&#xD;
      &lt;input type="number" class="form-control" id="actorName" [(ngModel)]="bYear"&gt;&#xD;
    &lt;/div&gt;&#xD;
    &lt;button type="submit" class="btn btn-primary" (click)="onUpdateActor()"&gt;Update Actor&lt;/button&gt;&#xD;
  &lt;/div&gt;&#xD;
&lt;/div&gt;</pre>&#xD;
<blockquote>Line 15 has the *ngIf directive that will show the update form only if there is at least one actor to update.</blockquote>&#xD;
&#xA0;&#xD;
&#xD;
udpateactor.component.ts&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="null">import { Component, OnInit } from "@angular/core";&#xD;
import { DatabaseService } from "../database.service";&#xD;
import { Router } from "@angular/router";&#xD;
&#xD;
@Component({&#xD;
  selector: "app-updateactor",&#xD;
  templateUrl: "./updateactor.component.html",&#xD;
  styleUrls: ["./updateactor.component.css"],&#xD;
})&#xD;
export class UpdateactorComponent implements OnInit {&#xD;
  fullName: string = "";&#xD;
  bYear: number = 0;&#xD;
  actorId: string = "";&#xD;
&#xD;
  actorsDB: any[] = [];&#xD;
&#xD;
  constructor(private dbService: DatabaseService, private router: Router) {}&#xD;
&#xD;
  //Get all Actors&#xD;
  onGetActors() {&#xD;
    console.log("From on GetActors");&#xD;
&#xD;
    return this.dbService.getActors().subscribe((data: any[]) =&gt; {&#xD;
      this.actorsDB = data;&#xD;
    });&#xD;
  }&#xD;
&#xD;
  // Update an Actor&#xD;
  onSelectUpdate(item) {&#xD;
    this.fullName = item.name;&#xD;
    this.bYear = item.bYear;&#xD;
    this.actorId = item._id;&#xD;
  }&#xD;
  onUpdateActor() {&#xD;
    let obj = { name: this.fullName, bYear: this.bYear };&#xD;
    this.dbService.updateActor(this.actorId, obj).subscribe(result =&gt; {&#xD;
      this.onGetActors();&#xD;
      this.router.navigate(["/listactors"]);&#xD;
    });&#xD;
  }&#xD;
&#xD;
  ngOnInit() {&#xD;
    this.onGetActors();&#xD;
  }&#xD;
}&#xD;
</pre>&#xD;
<blockquote>The backend logic of the update component requests two services to be injected (by the dependency injection) which are: DatabaseService and Router.&#xD;
&#xD;
DatabaseService will be used to fetch all the actors form the database while the Router service will be used to redirect the client side to another component at the end of the update operation.</blockquote>&#xD;
The updateactor component:&#xD;
&#xD;
<a href="https://www.alexandriarepository.org/media/udpateactor" rel="attachment wp-att-163433"><img class="alignnone size-full wp-image-163433" style="border: dashed 1px black;" src="./assets/udpateactor.png" alt="" width="824" height="560"/></a>&#xD;
&#xD;
&#xA0;&#xD;
<h2>Delete Actor&#xC2;&#xA0;Component</h2>&#xD;
This component lists all the available actors and deletes the selected one.&#xD;
&#xD;
deleteactor.component.html&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="null">&lt;div class="section"&gt;&#xD;
  &lt;table class="table table-striped"&gt;&#xD;
    &lt;tr&gt;&#xD;
      &lt;th&gt;Name&lt;/th&gt;&#xD;
      &lt;th&gt;Birth Year&lt;/th&gt;&#xD;
      &lt;th&gt;Delete?&lt;/th&gt;&#xD;
    &lt;/tr&gt;&#xD;
    &lt;tr *ngFor="let item of actorsDB"&gt;&#xD;
      &lt;td&gt;{{item.name}}&lt;/td&gt;&#xD;
      &lt;td&gt;{{item.bYear}}&lt;/td&gt;&#xD;
      &lt;td&gt;&lt;button type="submit" class="btn btn-primary" (click)="onDeleteActor(item)"&gt;Delete&lt;/button&gt;&lt;/td&gt;&#xD;
    &lt;/tr&gt;&#xD;
  &lt;/table&gt;&#xD;
&lt;/div&gt;</pre>&#xD;
&#xA0;&#xD;
&#xD;
deleteactor.component.ts&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="js">import { Component, OnInit } from "@angular/core";&#xD;
import { DatabaseService } from "../database.service";&#xD;
import { Router } from "@angular/router";&#xD;
&#xD;
@Component({&#xD;
  selector: "app-deleteactor",&#xD;
  templateUrl: "./deleteactor.component.html",&#xD;
  styleUrls: ["./deleteactor.component.css"],&#xD;
})&#xD;
export class DeleteactorComponent implements OnInit {&#xD;
  actorsDB: any[] = [];&#xD;
&#xD;
  constructor(private dbService: DatabaseService, private router: Router) {}&#xD;
  //Get all Actors&#xD;
  onGetActors() {&#xD;
    console.log("From on GetActors");&#xD;
&#xD;
    return this.dbService.getActors().subscribe((data: any[]) =&gt; {&#xD;
      this.actorsDB = data;&#xD;
    });&#xD;
  }&#xD;
&#xD;
  //Delete Actor&#xD;
  onDeleteActor(item) {&#xD;
    this.dbService.deleteActor(item._id).subscribe(result =&gt; {&#xD;
      this.onGetActors();&#xD;
      this.router.navigate(["/listactors"]);&#xD;
    });&#xD;
  }&#xD;
&#xD;
  // This callback function will be invoked with the component get initialized by Angular.&#xD;
  ngOnInit() {&#xD;
    this.onGetActors();&#xD;
  }&#xD;
}&#xD;
</pre>&#xD;
&#xA0;&#xD;
&#xD;
This is how the deleteactor component looks like:&#xD;
&#xD;
<a href="https://www.alexandriarepository.org/media/deleteactor" rel="attachment wp-att-163434"><img class="alignnone size-full wp-image-163434" style="border: dashed 1px black;" src="./assets/deleteactor.png" alt="" width="808" height="415"/></a>&#xD;
<h3>Routing</h3>&#xD;
To configure our routing, add this array to app.module.ts just before the&#xC2;&#xA0;@NgModule decorator.&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="js">const appRoutes: Routes = [&#xD;
  { path: "listactors", component: ListactorsComponent },&#xD;
  { path: "addactor", component: AddactorComponent },&#xD;
  { path: "updateactor", component: UpdateactorComponent },&#xD;
  { path: "deleteactor", component: DeleteactorComponent },&#xD;
  { path: "", redirectTo: "/listactors", pathMatch: "full" },&#xD;
];</pre>&#xD;
&#xA0;&#xD;
&#xD;
Import the RouterModule and provide the appRoutes array as input.&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="js">RouterModule.forRoot(appRoutes)</pre>&#xD;
Don't forget to import the Routes and RouterModule from "@angular/router":&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="js">import { RouterModule, Routes } from "@angular/router";&#xD;
</pre>&#xD;
&#xA0;&#xD;
&#xD;
So, the app.module.ts will be:&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="js">import { BrowserModule } from "@angular/platform-browser";&#xD;
import { NgModule } from "@angular/core";&#xD;
&#xD;
import { AppComponent } from "./app.component";&#xD;
import { DatabaseService } from "./database.service";&#xD;
import { HttpClientModule } from "@angular/common/http";&#xD;
import { FormsModule } from "@angular/forms";&#xD;
import { ListactorsComponent } from "./listactors/listactors.component";&#xD;
import { AddactorComponent } from "./addactor/addactor.component";&#xD;
import { DeleteactorComponent } from "./deleteactor/deleteactor.component";&#xD;
import { UpdateactorComponent } from "./updateactor/updateactor.component";&#xD;
import { RouterModule, Routes } from "@angular/router";&#xD;
&#xD;
const appRoutes: Routes = [&#xD;
  { path: "listactors", component: ListactorsComponent },&#xD;
  { path: "addactor", component: AddactorComponent },&#xD;
  { path: "updateactor", component: UpdateactorComponent },&#xD;
  { path: "deleteactor", component: DeleteactorComponent },&#xD;
  { path: "", redirectTo: "/listactors", pathMatch: "full" },&#xD;
];&#xD;
&#xD;
@NgModule({&#xD;
  declarations: [&#xD;
    AppComponent,&#xD;
    ListactorsComponent,&#xD;
    AddactorComponent,&#xD;
    UpdateactorComponent,&#xD;
    DeleteactorComponent,&#xD;
  ],&#xD;
  imports: [&#xD;
    RouterModule.forRoot(appRoutes),&#xD;
&#xD;
    BrowserModule,&#xD;
    HttpClientModule,&#xD;
    FormsModule,&#xD;
  ],&#xD;
  providers: [DatabaseService],&#xD;
  bootstrap: [AppComponent],&#xD;
})&#xD;
export class AppModule {}&#xD;
</pre>&#xD;
<blockquote>Remember:&#xD;
<ol><li>import @line30: to import modules only and not the services or components.</li>&#xD;
 	<li>declare @line23: to declare components only.</li>&#xD;
 	<li>provide @line37: to list the required services only.</li>&#xD;
</ol></blockquote>&#xD;
&#xA0;&#xD;
&#xD;
Now its time to build the navigation bar which will be located in the parent component 'app-root'.&#xD;
&#xD;
Open app.component.html and paste this code:&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="html">&lt;nav class="navbar navbar-expand-sm bg-dark navbar-dark"&gt;&#xD;
    &lt;ul class="navbar-nav"&gt;&#xD;
        &lt;li class="nav-item"&gt;&#xD;
            &lt;a class="nav-link" routerLink="/listactors" routerLinkActive="active"&gt;List &lt;/a&gt;&#xD;
        &lt;/li&gt;&#xD;
        &lt;li class="nav-item"&gt;&#xD;
&#xD;
            &lt;a class="nav-link" routerLink="/addactor" routerLinkActive="active"&gt;Add &lt;/a&gt;&#xD;
        &lt;/li&gt;&#xD;
        &lt;li class="nav-item"&gt;&#xD;
&#xD;
            &lt;a class="nav-link" routerLink="/updateactor" routerLinkActive="active"&gt;Update&lt;/a&gt;&#xD;
        &lt;/li&gt;&#xD;
        &lt;li class="nav-item"&gt;&#xD;
&#xD;
            &lt;a class="nav-link" routerLink="/deleteactor" routerLinkActive="active"&gt;Delete&lt;/a&gt;&#xD;
        &lt;/li&gt;&#xD;
    &lt;/ul&gt;&#xD;
&lt;/nav&gt;&#xD;
&#xD;
&lt;router-outlet&gt;&lt;/router-outlet&gt;&#xD;
&#xD;
</pre>&#xD;
<blockquote>source:&#xC2;&#xA0;<a href="https://www.w3schools.com/bootstrap4/bootstrap_navbar.asp">https://www.w3schools.com/bootstrap4/bootstrap_navbar.asp</a></blockquote>&#xD;
Line 21 represents the&#xC2;&#xA0;Router outlet which is where Angular has to place the selected component as discussed <a href="#Routeroutlet">HERE</a>.&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
To run your app:&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="null">ng build&#xD;
node server.js</pre>&#xD;
&#xA0;&#xD;
&#xD;
Here is how the app looks like:&#xD;
&#xD;
<a href="https://www.alexandriarepository.org/media/14-9" rel="attachment wp-att-163435"><img class="size-full wp-image-163435 aligncenter" style="border: dashed 1px black;" src="./assets/14.gif" alt="" width="936" height="756"/></a>&#xD;
&#xD;
&#xA0;&#xD;
<h2>Angular Pipes</h2>&#xD;
Angular pipes are functions that are used to transform data in Angular templates. These functions take input data values, transform/process them and return a single output value.&#xD;
&#xD;
Now, let's build a pipe that takes a string data value and two integer parameters. The pipe's function needs to return a substring using the first parameter as the starting index and the second parameter as the last index.&#xD;
&#xD;
Step 1: add a pipe to your project&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="js">ng generate pipe w10strsub</pre>&#xD;
or&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="js">ng g p w10strsub</pre>&#xD;
Now, you got two new files in your project&#xD;
&#xD;
<a href="https://www.alexandriarepository.org/media/screen-shot-2021-09-25-at-3-00-33-pm" rel="attachment wp-att-181421"><img class="wp-image-181421 alignleft" src="./assets/Screen-Shot-2021-09-25-at-3.00.33-pm.png" alt="" width="584" height="153"/></a>&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
Now open w10strsub.pipe.ts and update the code to be:&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="js">import { Pipe, PipeTransform } from '@angular/core';&#xD;
&#xD;
@Pipe({&#xD;
  name: 'w10strsub'&#xD;
})&#xD;
export class W10strsubPipe implements PipeTransform {&#xD;
&#xD;
  transform(value: string, ...args: number[]): string {&#xD;
    return null;&#xD;
  }&#xD;
&#xD;
}&#xD;
</pre>&#xD;
&#xA0;&#xD;
&#xD;
where 'value' is the value the pipe function is invoked on (i.e. the value before the pipe character) and the parameters are the values that are placed after the pipe function.&#xD;
&#xD;
Therefore, the syntax for calling the pipe is:&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="null">{{value | pipeFunction:param1:param2:param3}}</pre>&#xD;
Now, let's put the logic:&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="js">import {&#xD;
  Pipe,&#xD;
  PipeTransform&#xD;
} from '@angular/core';&#xD;
&#xD;
@Pipe({&#xD;
  name: 'w10strsub'&#xD;
})&#xD;
export class W10strsubPipe implements PipeTransform {&#xD;
&#xD;
  transform(value: string, ...args: number[]): string {&#xD;
&#xD;
    let transformedStr = '';&#xD;
    let startingIndex = args[0];&#xD;
    let stopIndex = args[1];&#xD;
    transformedStr = value.substring(startingIndex, stopIndex);&#xD;
    return transformedStr;&#xD;
  }&#xD;
&#xD;
}</pre>&#xD;
&#xA0;&#xD;
&#xD;
To test our new pipe:&#xD;
&#xD;
Add the following statements to your templates&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="null">&lt;td&gt;{{item.name| w10strsub:1:2}}&lt;/td&gt;&#xD;
&lt;td&gt;{{"Week 10 Lab"| w10strsub:5:9 }}&#xD;
</pre>&#xD;
&#xA0;&#xD;
<h2 id="pwa">Progressive Web Apps</h2>&#xD;
Progressive web apps (PWA) are web applications that are capable to give users an experience similar to native apps. The main advantages of PWA apps are:&#xD;
<ul><li>installable: can be installed locally ( works offline)</li>&#xD;
 	<li>progressively enhanced</li>&#xD;
 	<li>responsively designed: it works on multiple platforms such as desktop, mobile, and tables</li>&#xD;
 	<li>discoverable: can be discovered by the search engines</li>&#xD;
 	<li>network-independent: it works offline</li>&#xD;
 	<li>secure: much more secure than ordinary web applications</li>&#xD;
</ul>&#xD;
&#xA0;&#xD;
<div class="square-box">&#xD;
<blockquote><em>A progressive web application (PWA) is a type of application software delivered through the web, built using common web technologies including HTML, CSS and JavaScript. It is intended to work on any platform that uses a standards-compliant browser, including both desktop and mobile devices.</em>&#xD;
&#xD;
<em>Since a progressive web app is a type of webpage or website known as a web application, they do not require separate bundling or distribution. Developers can just publish the web application online, ensure that it meets baseline "installability requirements", and users will be able to add the application to their home screen. Publishing the app to digital distribution systems like Apple App Store or Google Play is optional.</em></blockquote>&#xD;
source: Wikipedia (<a href="https://en.wikipedia.org/wiki/Progressive_web_application">https://en.wikipedia.org/wiki/Progressive_web_application</a>)&#xD;
&#xD;
</div>&#xD;
&#xA0;&#xD;
<h4><strong>What are the requirements to make your app installable?</strong></h4>&#xD;
In order to make your app comply with PWA standards you need the following:&#xD;
<ol><li>web application (Angular application)</li>&#xD;
 	<li>manifest file: a JSON file contains information about the app such as:&#xD;
<ol><li>name</li>&#xD;
 	<li>description</li>&#xD;
 	<li>language</li>&#xD;
 	<li>set of icons</li>&#xD;
 	<li>theme</li>&#xD;
 	<li>start_url</li>&#xD;
</ol></li>&#xD;
 	<li>Service Worker: it's a JavaScript file that:&#xD;
<ol><li>runs in the background (not the main browser thread)</li>&#xD;
 	<li>intercepting all the network requests from/to your app</li>&#xD;
 	<li>saving (caching) or retrieving resources from the cache of your app</li>&#xD;
 	<li>sending push messages</li>&#xD;
</ol></li>&#xD;
 	<li>icon for the app</li>&#xD;
 	<li>secure connection (the web app is served from an HTTPS server). If you serve your PWA app from HTTP (unsecured), then your app will be installable on 'localhost' only.</li>&#xD;
</ol>&#xD;
&#xA0;&#xD;
<h4><strong>How to make my Angular application a PWA app?</strong></h4>&#xD;
Good news!! Angular CLI can do it for you. All you need to do is to execute the following command on the root of you project:&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="shell">ng add @angular/pwa</pre>&#xD;
Now build your app again:&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="null">ng build</pre>&#xD;
To test, navigate to your app and you must see the install icon as depicted below:&#xD;
&#xD;
<a href="https://www.alexandriarepository.org/media/screen-shot-2021-09-27-at-2-36-56-am" rel="attachment wp-att-181427"><img class=" wp-image-181427 alignleft" src="./assets/Screen-Shot-2021-09-27-at-2.36.56-am.png" alt="" width="623" height="105"/></a>&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
<a href="https://www.alexandriarepository.org/media/screen-shot-2021-09-27-at-2-38-44-am" rel="attachment wp-att-181426"><img class=" wp-image-181426 alignleft" src="./assets/Screen-Shot-2021-09-27-at-2.38.44-am.png" alt="" width="484" height="309"/></a>&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
References:&#xD;
&#xD;
1.[Book]&#xC2;&#xA0;<span class="gb-title-box-title">Angular 5 Projects</span><span class="gb-title-box-dash">&#xC2;&#xA0;&#xE2;&#x80;&#x93;&#xC2;&#xA0;</span><span class="gb-title-box-author">Mark Clow.</span>&#xD;
&#xD;
2.&#xC2;&#xA0;<a href="https://angular.io/guide/router">https://angular.io/guide/router</a>&#xD;
&#xD;
&#xA0;</body></html>
