<?xml version="1.0" standalone="yes"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html><body><h2>What is Angular?</h2>&#xD;
Angular is a platform and framework for building client applications in HTML and TypeScript (TypeScript is a strict superset of JavaScript). Angular is written in TypeScript. It implements core and optional functionality as a set of TypeScript libraries that you import into your apps.&#xC2;&#xA0;Angular is a platform that makes it easy to build applications with the web. Angular combines declarative templates, dependency injection, end to end tooling, and integrated best practices to solve development challenges. Angular empowers developers to build applications that live on the web, mobile, or desktop.&#xD;
&#xD;
&#xA0;&#xD;
<h2>What is TypeScript?</h2>&#xD;
Typescript is a typed superset of JavaScript that compiles to plain JavaScript.&#xD;
&#xD;
TypeScript is a strongly typed, object-oriented, compiled language. In other words, TypeScript is JavaScript plus some additional features.&#xC2;&#xA0;TypeScript code is typically transpiled&#xC2;&#xA0;to standards-based JavaScript that all browsers can understand and run.&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
Main Features of TypeScript&#xD;
<ul><li>TS supports strong static typing</li>&#xD;
</ul><pre class="EnlighterJSRAW" style="padding-left: 60px;" data-enlighter-language="js">let flag: boolean = false;&#xD;
let age: number = 6;&#xD;
let firstName: string = "bob";&#xD;
let listA: number[] = [1, 2, 3];&#xD;
let anotherList: Array&lt;number&gt; = [5, 6, 7];&#xD;
enum Color {Red, Green, Blue};&#xD;
let c: Color = Color.Green;&#xD;
let anyValue: any = 4;&#xD;
anyValue= "maybe a string instead";&#xD;
anyValue= false; // okay, definitely a boolean&#xD;
&#xD;
function showMessage(data: string): void {&#xD;
  alert(data);&#xD;
}&#xD;
showMessage('hello');</pre>&#xD;
<ul><li>TS supports Object-Oriented Programming</li>&#xD;
 	<li>TS tools save your developers time</li>&#xD;
</ul>&#xD;
More Details:&#xD;
<ul><li><a href="https://msdn.microsoft.com/en-us/magazine/dn890374.aspx">https://msdn.microsoft.com/en-us/magazine/dn890374.aspx</a></li>&#xD;
 	<li><a href="https://www.typescriptlang.org/docs/handbook/typescript-in-5-minutes.html">https://www.typescriptlang.org/docs/handbook/typescript-in-5-minutes.html</a></li>&#xD;
</ul><h2>Angular Main Blocks</h2>&#xD;
The main building blocks of Angular are:&#xD;
<ul><li>Modules</li>&#xD;
 	<li>Components</li>&#xD;
 	<li>Templates</li>&#xD;
 	<li>Metadata</li>&#xD;
 	<li>Data binding</li>&#xD;
 	<li>Directives</li>&#xD;
 	<li>Services</li>&#xD;
 	<li>Dependency injection</li>&#xD;
</ul>&#xD;
&#xA0;&#xD;
<h3>Modules</h3>&#xD;
In Angular, a module is a mechanism to group components, directives, pipes and services that are related, in such a way that can be combined with other modules to create an application. An Angular application can be thought of as a puzzle where each piece (or each module) is needed to be able to see the full picture.&#xD;
&#xD;
Another analogy to understand Angular modules is classes. In a class, we can define public or private methods. The public methods are the API that other parts of our code can use to interact with it while the private methods are implementation details that are hidden. In the same way, a module can export or hide components, directives, pipes and services. The exported elements are meant to be used by other modules, while the ones that are not exported (hidden) are just used inside the module itself and cannot be directly accessed by other modules of our application.&#xD;
&#xD;
Modules consist of one or more components. They do not control any HTML. Your modules declare which components can be used by components belonging to other modules, which classes will be injected by the dependency injector and which component gets bootstrapped. Modules allow you to manage your components to bring modularity to your app.&#xD;
&#xD;
Every Angular app has at least one NgModule class, the root module, which is conventionally named AppModule and resides in a file named app.module.ts. You launch your app by bootstrapping the root NgModule.&#xD;
&#xD;
&#xA0;&#xD;
<h3>Component</h3>&#xD;
Components are basically classes that interact with the .html file of the component, which gets displayed on the browser.&#xD;
&#xD;
The component is the template(view) + a class (Typescript code) containing some logic for the view + metadata(to tell angular about from where to get data it needs to display the template).&#xD;
&#xD;
Components control views (HTML). They also communicate with other components and services to bring functionality to your app.&#xD;
&#xD;
&#xA0;&#xD;
<h3>Templates</h3>&#xD;
The view of the component is defined through templates. Templates are basically the HTML we use to show on our page.&#xD;
&#xD;
&#xA0;&#xD;
<h3>Services</h3>&#xD;
Angular services are singleton objects which get instantiated only once during the lifetime of an application. They contain methods that maintain data throughout the life of an application, i.e. data does not get refreshed and is available all the time. The main objective of a service is to organize and share business logic, models, or data and functions with different components of an Angular&#xC2;&#xA0;application.&#xD;
&#xD;
&#xA0;&#xD;
<h3>Dependency Injection (DI)</h3>&#xD;
Dependencies are services or objects that a class needs to perform its function. DI is a coding pattern in which a class asks for dependencies from external sources rather than creating them itself.&#xD;
&#xD;
In Angular, the DI framework provides declared dependencies to a class when that class is instantiated.&#xD;
&#xD;
&#xA0;&#xD;
<h3>Prerequisites</h3>&#xD;
Angular comes with a Command Line Interface (CLI). The <strong>Angular CLI</strong> makes it easy to create an application that already works, right out of the box. It follows TS programming best practices.&#xD;
&#xD;
To install:&#xD;
<pre class="EnlighterJSRAW" style="padding-left: 60px;" data-enlighter-language="shell">sudo npm install -g @angular/cli</pre>&#xD;
<blockquote>No need for sudo on windows machines</blockquote>&#xD;
<p style="padding-left: 30px;">Angular CLI can be used to:</p>&#xD;
&#xD;
<ul><li>ng new&#xD;
The Angular CLI makes it easy to create an application that already works, right out of the box. It already follows our best practices!</li>&#xD;
 	<li>ng generate&#xD;
Generate components, routes, services and pipes with a simple command. The CLI will also create simple test shells for all of these.</li>&#xD;
 	<li>ng serve&#xD;
Easily test your app locally while developing. It is a simple HTTP server&#xC2;&#xA0;that serves your application on address: http://localhost:4200, where 4200 is the default port number for 'ng serve'.</li>&#xD;
</ul>&#xD;
&#xA0;&#xD;
&#xD;
&#xA0;&#xD;
<h3>ng new</h3>&#xD;
To create a new Angular application, run:&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="null">ng new w8ang</pre>&#xD;
a new folder named 'w8ang' will be created with several folders and files. The 'ng new' command will also install all the required packages into 'node_modules' subfolder.&#xD;
&#xD;
Now, get into the folder&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="null">cd w8ang</pre>&#xD;
and open it using your IDE.&#xD;
&#xD;
Project structure and explanation of some components can be found below:&#xD;
&#xD;
<a href="https://www.alexandriarepository.org/media/projectstrc" rel="attachment wp-att-162290"><img class="wp-image-162290 aligncenter" src="./assets/projectStrc.png" alt="" width="364" height="650"/></a>&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
Inside '/src/app' folder, you will find five files:&#xD;
<ul><li>app.module.ts or the root module. It is to start up your application and set the links to your other modules.</li>&#xD;
 	<li>app.component.ts: This is the file that contains the logic of the root component.</li>&#xD;
 	<li>app.component.html: The view of the component</li>&#xD;
 	<li>app.component.css: The style sheet of the component</li>&#xD;
 	<li>app.component.spec.ts: Unit testing for the component's logic. We will ignore it.</li>&#xD;
</ul>&#xD;
&#xA0;&#xD;
<h3>app.component.ts</h3>&#xD;
This file declares the root component of our application.&#xC2;&#xA0; By default, it contains:&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="js">import { Component } from '@angular/core';&#xD;
&#xD;
@Component({&#xD;
  selector: 'app-root',&#xD;
  templateUrl: './app.component.html',&#xD;
  styleUrls: ['./app.component.css']&#xD;
})&#xD;
export class AppComponent {&#xD;
  title = 'w8ang';&#xD;
}&#xD;
</pre>&#xD;
<blockquote>&#xD;
<ul><li>The <strong>@Component</strong> decorator identifies the class immediately below it as a component class, and specifies its metadata.</li>&#xD;
 	<li><strong>selector</strong>: A CSS selector that tells Angular to create and insert an instance of this component wherever it finds the corresponding tag in template HTML. For example, if an app's HTML contains &lt;app-root&gt;&lt;/app-root&gt;, then Angular inserts an instance of the AppComponent view between those tags. You can find the '&lt;app-root&gt;&lt;/app-root&gt;' in <strong>index.html</strong> file.</li>&#xD;
 	<li><strong>templateUrl</strong>: The module-relative address of this component's HTML template. Alternatively, you can provide the HTML template inline, as the value of the template property. This template defines the component's host view.</li>&#xD;
 	<li><strong>providers</strong>: An array of providers for services that the component requires. We will cover it in the comming weeks.</li>&#xD;
</ul></blockquote>&#xD;
&#xA0;&#xD;
<h3>app.component.html</h3>&#xD;
Open this file and replace its code with:&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="html">&lt;p&gt;&#xD;
  Welcome to {{title}}!!&#xD;
&lt;/p&gt;&gt;&#xD;
</pre>&#xD;
<blockquote>The {{title}} interpolation (see the data binding section for more details) displays the component's <strong>title</strong> property value within the &lt;p&gt; element.</blockquote>&#xD;
&#xA0;&#xD;
&#xD;
To run the application, run this command:&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="null">ng serve</pre>&#xD;
<blockquote>Keep the terminal session alive as 'ng serve' will monitor your changes and recompile then reload your borower automatically.</blockquote>&#xD;
Now, open 'app.component.ts' and change the value of the title to 'FIT2095'&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="js">title = 'FIT2095';&#xD;
</pre>&#xD;
Your browser should display:&#xD;
&#xD;
<a href="https://www.alexandriarepository.org/media/b14" rel="attachment wp-att-162293"><img class="alignnone size-full wp-image-162293" style="border: dashed 1px black;" src="./assets/b14.png" alt="" width="402" height="212"/></a>&#xD;
&#xD;
&#xA0;&#xD;
<h3>ng generate</h3>&#xD;
Generate components, routes, services and pipes with a simple command. The CLI will also create simple test shells for all of these.&#xD;
&#xD;
To add a new component to the project, run this command in your terminal&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="null">ng generate component StudentLogin</pre>&#xD;
or, to add a new service:&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="null">ng generate service RetriveDataServer</pre>&#xD;
<blockquote>More details:&#xC2;&#xA0;<a href="https://github.com/angular/angular-cli/wiki">https://github.com/angular/angular-cli/wiki</a></blockquote>&#xD;
&#xA0;&#xD;
<h3>ng serve</h3>&#xD;
It&#xC2;&#xA0;builds the application and starts a web server.&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="null">ng serve</pre>&#xD;
Angular CLI comes with a simple HTTP server that can be used for testing your application during the development phase.&#xD;
&#xD;
&#xA0;&#xD;
<h2>Data Binding</h2>&#xD;
Data binding&#xC2;&#xA0;is the automatic synchronization of data between the model and view components. It allows you&#xC2;&#xA0;to define communication between a component and the DOM, making it very easy to define interactive applications without worrying about pushing and pulling data.&#xD;
&#xD;
There are three types of data binding:&#xD;
<ul><li>Property Binding</li>&#xD;
 	<li>Event Binding</li>&#xD;
 	<li>Two Way Binding</li>&#xD;
</ul>&#xD;
&#xA0;&#xD;
<h3>Property Binding (Component to HTML)</h3>&#xD;
Property binding simply means passing data from the component class (e.g. app.component.ts) and setting the value of a given element in the view (e.g. app.component.html). Property binding is one way, in that the data is transferred from the component to the class. The benefit of property binding is that it allows you to control element property values from the component and change them whenever needed.&#xD;
&#xD;
For example:&#xD;
&#xD;
&#xA0;&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="html">&lt;p&gt;&#xD;
  Welcome to {{title}}!!&#xD;
&lt;/p&gt;&#xD;
</pre>&#xD;
The text between the braces (title) is often the name of a component property. Angular replaces that name with the string value of the corresponding component property. In the example above, Angular evaluates the title the application title on the HTML.&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
<a href="https://www.alexandriarepository.org/media/bonding1" rel="attachment wp-att-162296"><img class="alignnone wp-image-162296" src="./assets/bonding1.png" alt="" width="1079" height="381"/></a>&#xD;
<h3/>&#xD;
&#xA0;&#xD;
<h3>Event binding (HTML to Component)</h3>&#xD;
The property binding&#xC2;&#xA0;flows data in one direction: from a component to an element.&#xD;
&#xD;
Users usually enter text into input boxes, pick items from lists and/or click buttons. Such actions may result in a flow of data in the opposite direction: from an element to a component.&#xD;
&#xD;
The only way to know about a user action is to listen for certain events such as keystrokes, mouse movements, clicks, and touches. You declare your interest in user actions through Angular event binding.&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
Example:&#xC2;&#xA0;Build a click event counter using Angular&#xD;
&#xD;
open app.component.ts and paste this code:&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="js">import { Component } from '@angular/core';&#xD;
&#xD;
@Component({&#xD;
  selector: 'app-root',&#xD;
  templateUrl: './app.component.html',&#xD;
  styleUrls: ['./app.component.css']&#xD;
})&#xD;
export class AppComponent {&#xD;
  title = 'FIT2095';&#xD;
  counter: number = 0;&#xD;
&#xD;
  incCounter() {&#xD;
    this.counter++;&#xD;
  }&#xD;
}&#xD;
</pre>&#xD;
Line 10 declares the counter and sets its initial value to zero.&#xC2;&#xA0; Lines 12-14 declares a function '<strong>incCounter</strong>' that increments the value of '<strong>counter</strong>' by one.&#xD;
&#xD;
open app.component.html and paste this code:&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="html">&lt;p&gt;&#xD;
  Welcome to {{title}}!!&#xD;
&lt;/p&gt;&#xD;
&lt;p&gt;&#xD;
  The count is: {{counter}}&#xD;
&lt;/p&gt;&#xD;
&lt;button (click)="incCounter()" &gt;Click Me&lt;/button&gt;</pre>&#xD;
Line 5 has property binding as it displays the value of '<strong>counter</strong>'. Line 7 adds a button to the page and binds the 'click' event to '<strong>incCounter</strong>' function, which is declared in <strong>app.component.ts</strong>.&#xD;
&#xD;
<a href="https://www.alexandriarepository.org/media/1-126" rel="attachment wp-att-162301"><img class="size-full wp-image-162301 aligncenter" style="border: dashed 1px black;" src="./assets/1.gif" alt="" width="502" height="203"/></a>&#xD;
&#xD;
Let's add a reset button.&#xD;
&#xD;
Change app.component.ts to be:&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="js">import { Component } from '@angular/core';&#xD;
&#xD;
@Component({&#xD;
  selector: 'app-root',&#xD;
  templateUrl: './app.component.html',&#xD;
  styleUrls: ['./app.component.css']&#xD;
})&#xD;
export class AppComponent {&#xD;
  title = 'FIT2095';&#xD;
  counter: number = 0;&#xD;
&#xD;
  incCounter() {&#xD;
    this.counter++;&#xD;
  }&#xD;
&#xD;
  resetCounter(){&#xD;
    this.counter=0;&#xD;
  }&#xD;
}&#xD;
</pre>&#xD;
&#xA0;&#xD;
&#xD;
and app.component.html&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="html">&lt;p&gt;&#xD;
  Welcome to {{title}}!!&#xD;
&lt;/p&gt;&#xD;
&lt;p&gt;&#xD;
  The count is: {{counter}}&#xD;
&lt;/p&gt;&#xD;
&#xD;
&#xD;
&lt;button (click)="incCounter()"&gt;Click Me&lt;/button&gt;&#xD;
&#xD;
&#xD;
&lt;button (click)="resetCounter()"&gt;Reset&lt;/button&gt;&#xD;
</pre>&#xD;
&#xA0;&#xD;
&#xD;
Each time the user hits the 'Reset' button, function 'resetCounter()' gets invoked and sets the counter back to zero.&#xD;
&#xD;
<a href="https://www.alexandriarepository.org/media/2-37" rel="attachment wp-att-162302"><img class="size-full wp-image-162302 aligncenter" style="border: dashed 1px black;" src="./assets/2.gif" alt="" width="502" height="203"/></a>&#xD;
&#xD;
the below picture visualizes the relationship between the template (HTML) and the component from data binding point of view.&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
<a href="https://www.alexandriarepository.org/media/binding" rel="attachment wp-att-162305"><img class="size-full wp-image-162305 aligncenter" style="border: 1px dashed black;" src="./assets/binding.png" alt="" width="1088" height="366"/></a>&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
Let's have another example. Add two buttons to a page to increase and decrease the font size of a '<strong>div</strong>' element.&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
Here is app.component.ts:&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="js">import { Component } from '@angular/core';&#xD;
&#xD;
@Component({&#xD;
  selector: 'app-root',&#xD;
  templateUrl: './app.component.html',&#xD;
  styleUrls: ['./app.component.css']&#xD;
})&#xD;
export class AppComponent {&#xD;
  size = 10;&#xD;
&#xD;
  dec() {this.size--;}&#xD;
  inc() {this.size++;}&#xD;
&#xD;
}&#xD;
&#xD;
</pre>&#xD;
The component has a variable called 'size' and two functions to increment and decrement its value.&#xD;
&#xD;
app.component.html:&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="html">&lt;div [style.font-size.px]="size"&gt;Resizable Text&lt;/div&gt;&#xD;
&lt;button (click)="inc()"&gt;+Font&lt;/button&gt;&#xD;
&lt;button (click)="dec()"&gt;-Font&lt;/button&gt;&#xD;
&lt;p&gt;&#xD;
  The current font size={{size}}&#xD;
&lt;/p&gt;</pre>&#xD;
&#xA0;&#xD;
&#xD;
<a href="https://www.alexandriarepository.org/media/3-27" rel="attachment wp-att-162307"><img class="alignnone size-full wp-image-162307" style="border: 1px dashed black;" src="./assets/3.gif" alt="" width="502" height="203"/></a>&#xD;
&#xD;
&#xA0;&#xD;
<div class="square-box">&#xD;
&#xD;
Question: Can we listen to double-click events?&#xD;
&#xD;
Answer: just replace (click) with (dblclick)&#xD;
&#xD;
Question: How about Mouse Over events?&#xD;
&#xD;
Answer: replace (click) with (mouseover)&#xD;
&#xD;
</div>&#xD;
<h3/>&#xD;
<div class="square-box">&#xD;
&#xD;
Question: Where can I find the list of HTML DOM Events?&#xD;
&#xD;
Answer: Here:&#xC2;&#xA0;<a href="https://www.w3schools.com/jsref/dom_obj_event.asp">https://www.w3schools.com/jsref/dom_obj_event.asp</a>&#xD;
&#xD;
</div>&#xD;
&#xA0;&#xD;
<h3>Two-way Binding</h3>&#xD;
In order too both display a data property and update that property when the user makes changes, two-way binding should be used.&#xD;
&#xD;
On the element side that takes a combination of setting a specific element property and listening for an element change event.&#xD;
&#xD;
Angular offers a special two-way data binding syntax for this purpose, [(x)]. The [(x)] syntax combines the brackets of property binding, [x], with the parentheses of event binding, (x).&#xD;
<blockquote>[( )] = BANANA IN A BOX</blockquote>&#xD;
When developing data entry forms, you often both display a data property and update that property when the user makes changes.&#xC2;&#xA0;Two-way data binding with the&#xC2;&#xA0;NgModel&#xC2;&#xA0;directive makes that easy. Here's an example:&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="null">&lt;input [(ngModel)]="studentName"&gt;</pre>&#xD;
&#xA0;&#xD;
&#xD;
Before using the ngModel directive in a two-way data binding, you must import the FormsModule and add it to the NgModule's imports list.&#xD;
&#xD;
<a href="https://www.alexandriarepository.org/media/5-22" rel="attachment wp-att-162310"><img class="alignnone size-full wp-image-162310" src="./assets/5.gif" alt="" width="1345" height="435"/></a>&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
Now, let's have this example that implements two-way binding using the 'ngModel' directive&#xD;
&#xD;
app.component.ts:&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="js">import { Component } from '@angular/core';&#xD;
&#xD;
@Component({&#xD;
  selector: 'app-root',&#xD;
  templateUrl: './app.component.html',&#xD;
  styleUrls: ['./app.component.css']&#xD;
})&#xD;
export class AppComponent {&#xD;
  message = "Default Value";&#xD;
&#xD;
  resetMsg() {&#xD;
    this.message = "";&#xD;
  }&#xD;
}</pre>&#xD;
&#xA0;&#xD;
&#xD;
app.component.html&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="html">Enter Your Message:&#xD;
&lt;input [(ngModel)]="message" /&gt;&#xD;
&lt;br&gt;&#xD;
&lt;br&gt;&#xD;
&lt;div&gt;Your Message: {{message}}&lt;/div&gt;&#xD;
&lt;br&gt;&#xD;
&lt;button (click)="resetMsg()" &gt;Reset Message &lt;/button&gt;&#xD;
</pre>&#xD;
&#xA0;&#xD;
&#xD;
The output:&#xD;
&#xD;
<a href="https://www.alexandriarepository.org/media/4-24" rel="attachment wp-att-162308"><img class="size-full wp-image-162308 aligncenter" style="border: 1px dashed black;" src="./assets/4.gif" alt="" width="502" height="203"/></a>&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
<span style="text-decoration: underline;"><strong>How does it work?</strong></span>&#xD;
&#xD;
Each time the user updates the input element (HTML line ) -which is bound to 'message'- Angular sets the component variable 'message' with the new value and re-evaluates all the expressions that use 'message'.&#xD;
&#xD;
&#xA0;&#xD;
<h2><strong>Directive</strong></h2>&#xD;
Directive helps us to add behavior to the DOM elements.&#xD;
<h3>Built-in structural directives</h3>&#xD;
<h3>*ngIf</h3>&#xD;
You can add or remove an element from the DOM by applying an NgIf directive to that element (called the host element). Bind the directive to a condition expression like isActive in this example.&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="html">&lt;div *ngIf="isActive"&gt;&lt;/div&gt;</pre>&#xD;
&#xA0;&#xD;
&#xD;
The following example adds elements into an array, shows the number of elements if the array has at least one, and shows another message when the length reaches 5.&#xD;
&#xD;
app.component.ts&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="js">import { Component } from '@angular/core';&#xD;
&#xD;
@Component({&#xD;
  selector: 'app-root',&#xD;
  templateUrl: './app.component.html',&#xD;
  styleUrls: ['./app.component.css']&#xD;
})&#xD;
export class AppComponent {&#xD;
  data:any = [];&#xD;
  item = "";&#xD;
  newItem() {&#xD;
    this.data.push(this.item);&#xD;
  }&#xD;
  clearItems() {&#xD;
    this.data = [];&#xD;
  }&#xD;
}&#xD;
</pre>&#xD;
&#xA0;&#xD;
&#xD;
app.component.html&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="html">Enter Your Items:&#xD;
&lt;input [(ngModel)]="item" /&gt;&#xD;
&lt;br&gt;&#xD;
&#xD;
&lt;button (click)="newItem()"&gt;Add Item&lt;/button&gt;&#xD;
&lt;button (click)="clearItems()"&gt;Clear Items&lt;/button&gt;&#xD;
&lt;br&gt;&#xD;
&lt;div *ngIf="data.length&gt;0"&gt;You have {{data.length}} items&lt;/div&gt;&#xD;
&lt;div *ngIf="data.length==5"&gt;Caution:  5 items in your array&lt;/div&gt;&#xD;
&lt;br&gt;</pre>&#xD;
&#xA0;&#xD;
&#xD;
Here is the output:&#xD;
&#xD;
<a href="https://www.alexandriarepository.org/media/6-20" rel="attachment wp-att-162311"><img class="alignnone size-full wp-image-162311" style="border: 1px dashed black;" src="./assets/6.gif" alt="" width="482" height="205"/></a>&#xD;
&#xD;
&#xA0;&#xD;
<h3>*ngFor</h3>&#xD;
NgForOf is a repeater directive &#xE2;&#x80;&#x94; a way to present a list of items. You define a block of HTML that defines how a single item should be displayed. You tell Angular to use that block as a template for rendering each item in the list.&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
Example: Improve the above application to display the content of the array in a table.&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
Update app.component.html to be:&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="html">Enter Your Items:&#xD;
&lt;input [(ngModel)]="item" /&gt;&#xD;
&lt;br&gt;&#xD;
&#xD;
&lt;button (click)="newItem()"&gt;Add Item&lt;/button&gt;&#xD;
&lt;button (click)="clearItems()"&gt;Clear Items&lt;/button&gt;&#xD;
&lt;br&gt;&#xD;
&lt;div *ngIf="data.length&gt;0"&gt;You have {{data.length}} items&lt;/div&gt;&#xD;
&lt;div *ngIf="data.length==5"&gt;Caution: 5 items in your array&lt;/div&gt;&#xD;
&lt;br&gt;&#xD;
&#xD;
&lt;table&gt;&#xD;
  &lt;tr&gt;&#xD;
    &lt;th&gt; Item &lt;/th&gt;&#xD;
  &lt;/tr&gt;&#xD;
  &lt;tr *ngFor="let item of data"&gt;&#xD;
    &lt;td&gt;{{item}}&lt;/td&gt;&#xD;
  &lt;/tr&gt;&#xD;
&lt;/table&gt;</pre>&#xD;
&#xA0;&#xD;
&#xD;
Here is the output:&#xD;
&#xD;
<a href="https://www.alexandriarepository.org/media/7-17" rel="attachment wp-att-162313"><img class="alignnone size-full wp-image-162313" style="border: 1px dashed black;" src="./assets/7.gif" alt="" width="482" height="446"/></a>&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
The following update adds the index of items as a column to the table:&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="js">Enter Your Items:&#xD;
&lt;input [(ngModel)]="item" /&gt;&#xD;
&lt;br&gt;&#xD;
&#xD;
&lt;button (click)="newItem()"&gt;Add Item&lt;/button&gt;&#xD;
&lt;button (click)="clearItems()"&gt;Clear Items&lt;/button&gt;&#xD;
&lt;br&gt;&#xD;
&lt;div *ngIf="data.length&gt;0"&gt;You have {{data.length}} items&lt;/div&gt;&#xD;
&lt;div *ngIf="data.length==5"&gt;Caution: 5 items in your array&lt;/div&gt;&#xD;
&lt;br&gt;&#xD;
&#xD;
&lt;table&gt;&#xD;
  &lt;tr&gt;&#xD;
    &lt;th&gt; # &lt;/th&gt;&#xD;
    &lt;th&gt; Item &lt;/th&gt;&#xD;
  &lt;/tr&gt;&#xD;
  &lt;tr *ngFor="let item of data; let i = index"&gt;&#xD;
    &lt;td&gt;{{i+1}}&lt;/td&gt;&#xD;
    &lt;td&gt;{{item}}&lt;/td&gt;&#xD;
  &lt;/tr&gt;&#xD;
&lt;/table&gt;&#xD;
</pre>&#xD;
&#xA0;&#xD;
&#xD;
The output:&#xD;
&#xD;
<a href="https://www.alexandriarepository.org/media/8-16" rel="attachment wp-att-162314"><img class="alignnone size-full wp-image-162314" style="border: 1px dashed black;" src="./assets/8.gif" alt="" width="482" height="451"/></a>&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
&#xA0;&#xD;
<h3>NgSwitch</h3>&#xD;
NgSwitch is like the JavaScript switch statement. It can display one element from among several possible elements, based on a switch condition. Angular puts only the selected element into the DOM.&#xD;
&#xD;
NgSwitch is actually a set of three, cooperating directives: NgSwitch, NgSwitchCase, and NgSwitchDefault as seen in this example.&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
Example:&#xD;
&#xD;
Implement the following JavaScript Switch-case statement using Angular NgSwitch directive:&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="js">username="Tim"&#xD;
switch(username) {&#xD;
  case 'Tim':&#xD;
      //set the button class to class="btn btn-primary" &#xD;
      break;&#xD;
  case 'Alex':&#xD;
      //set the button class to class="btn btn-success" &#xD;
      break;&#xD;
  case 'John':&#xD;
      //set the button class to class="btn btn-info" &#xD;
&#xD;
  default:&#xD;
  //set the button class to class="btn btn-danger" &#xD;
}</pre>&#xD;
&#xA0;&#xD;
&#xD;
app.component.html:&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="html">&lt;div class="form-group"&gt;&#xD;
  &lt;label for="item"&gt;Enter Your Name:&lt;/label&gt;&#xD;
  &lt;input class="form-control" [(ngModel)]="username" id="item" /&gt;&#xD;
&lt;/div&gt;&#xD;
&lt;br&gt;&#xD;
&#xD;
&lt;div [ngSwitch]="username"&gt;&#xD;
  &lt;button *ngSwitchCase="'Tim'" class="btn btn-primary"&gt;{{username}}&lt;/button&gt;&#xD;
  &lt;button *ngSwitchCase="'Alex'" class="btn btn-success"&gt;{{username}}&lt;/button&gt;&#xD;
  &lt;button *ngSwitchCase="'John'" class="btn btn-info"&gt;{{username}}&lt;/button&gt;&#xD;
  &lt;button *ngSwitchDefault class="btn btn-danger"&gt;N/A&lt;/button&gt;&#xD;
&#xD;
&lt;/div&gt;</pre>&#xD;
&#xA0;&#xD;
&#xD;
and here is the output:&#xD;
&#xD;
<a href="https://www.alexandriarepository.org/media/11-13" rel="attachment wp-att-162323"><img class="alignnone size-full wp-image-162323" style="border: 1px dashed black;" src="./assets/11.gif" alt="" width="446" height="277"/></a>&#xD;
&#xD;
&#xA0;&#xD;
<h2>Adding Bootstrap to an Angular CLI project</h2>&#xD;
Step1: Install bootsrap from NPM&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="shell">npm install bootstrap</pre>&#xD;
Step 2: Importing Bootstrap CSS&#xD;
<ul><li>open angular.json file and add the bootstrap.min.css reference to the list of styles as shown below:</li>&#xD;
</ul><pre class="EnlighterJSRAW" data-enlighter-language="json">"styles": [&#xD;
  "src/styles.css",&#xD;
  "node_modules/bootstrap/dist/css/bootstrap.min.css"&#xD;
]</pre>&#xD;
&#xA0;&#xD;
&#xD;
<a href="https://www.alexandriarepository.org/media/9-15" rel="attachment wp-att-162319"><img class="alignnone size-full wp-image-162319" src="./assets/9.gif" alt="" width="482" height="451"/></a>&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
Step 3: Add bootstrap classes to your DOM elements. For example, to get a blue button, add "btn btn-primary" classes to a button's styles.&#xD;
&#xD;
&#xA0;&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="js">&lt;button class="btn btn-primary" (click)="newItem()"&gt;Add Item&lt;/button&gt;&#xD;
</pre>&#xD;
&#xA0;&#xD;
&#xD;
Update your app.component.html to be:&#xD;
<pre class="EnlighterJSRAW" data-enlighter-language="html">&lt;div class="form-group"&gt;&#xD;
  &lt;label for="item"&gt;Enter Your Items:&lt;/label&gt;&#xD;
  &lt;input class="form-control" [(ngModel)]="item" id="item" /&gt;&#xD;
&lt;/div&gt;&#xD;
&lt;br&gt;&#xD;
&#xD;
&lt;button class="btn btn-primary" (click)="newItem()"&gt;Add Item&lt;/button&gt;&#xD;
&lt;button class="btn btn-danger" (click)="clearItems()"&gt;Clear Items&lt;/button&gt;&#xD;
&lt;br&gt;&#xD;
&lt;div *ngIf="data.length&gt;0"&gt;You have {{data.length}} items&lt;/div&gt;&#xD;
&lt;div *ngIf="data.length==5"&gt;Caution: 5 items in your array&lt;/div&gt;&#xD;
&lt;br&gt;&#xD;
&#xD;
&lt;table class="table table-hover"&gt;&#xD;
  &lt;tr&gt;&#xD;
    &lt;th&gt; # &lt;/th&gt;&#xD;
    &lt;th&gt; Item &lt;/th&gt;&#xD;
  &lt;/tr&gt;&#xD;
  &lt;tr *ngFor="let item of data; let i = index"&gt;&#xD;
    &lt;td&gt;{{i+1}}&lt;/td&gt;&#xD;
    &lt;td&gt;{{item}}&lt;/td&gt;&#xD;
  &lt;/tr&gt;&#xD;
&lt;/table&gt;</pre>&#xD;
&#xA0;&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
&#xA0;&#xD;
&#xD;
<strong>Note</strong>: a Non-trivial amount of text has been taken from Angular documentation and other resources.&#xD;
&#xD;
<span style="text-decoration: underline;"><strong>References</strong></span>&#xD;
<ol><li>[Book]&#xC2;&#xA0;Angular 5: From Theory To Practice: Build the web applications of tomorrow using the new Angular web framework from Google.</li>&#xD;
 	<li>[Book] MEAN Web Development.</li>&#xD;
 	<li>https://angular.io/docs</li>&#xD;
 	<li>https://angular.io/guide/architecture</li>&#xD;
 	<li>https://www.w3schools.com/angular/</li>&#xD;
 	<li>https://dzone.com/articles/components-of-angular2-architecture</li>&#xD;
 	<li>https://www.typescriptlang.org/docs/home.html</li>&#xD;
 	<li>https://www.tutorialspoint.com/typescript/typescript_overview.htm</li>&#xD;
</ol></body></html>
